<extend name="User:add"/>
<block name="title">
    <title>优惠卷管理</title>
    <style type="text/css">
        tr td div a {
            padding: 0 10px;
            color: #999;
        }
    </style>
</block>
<block name="con">

    <div class="mws-panel grid_8">

        <div class="mws-panel grid_8">
            <div class="mws">
                <div class="mws-panel-header">
                        <span style="white-space: normal">
                            <i class="icon-table"></i> 优惠卷管理 Manage 
                            <a class="btn btn-danger" style="float:right;"
                               href="{:U('Coupon:clearCoupon',array('cid'=>$cid))}"><i class=" icon-trash"></i> 清空本活动优惠卷</a>
                        </span>
                </div>
                <div>
                    <table class="mws-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>活动</th>
                            <th>所属用户</th>
                            <th>优惠码</th>
                            <th>是否使用</th>
                            <th>订单号</th>
                            <th>使用IP</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="rows" item="v">
                            <tr>
                                <td>{$v['id']}</td>
                                <td>{$v['ctitle']}</td>
                                <td>{$v['uid']|getUser}</td>
                                <td>{$v['secret']}</td>
                                <td>{$v['is_used']?'已使用':'未使用'}</td>
                                <td>{$v['order_id']?$v['order_id']:'--'}</td>
                                <td>{$v['ip']?$v['ip']:'--'}</td>
                                <td><a style="color:#444"
                                       href="{:U('Coupon:c_edit',array('id'=>$v['id'],'cid'=>$v['cid']))}">修改</a> || <a
                                        style="color:#444" href="{:U('Coupon:c_dodel',array('id'=>$v['id']))}">删除</a>
                                </td>
                            </tr>
                        </foreach>
                        <tr>
                            <td colspan="8" style="text-align:right;">{$page}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</block>