<extend name="Helpself:base"/>
<block name="nav">
    <script>var _hrefPath = '', _imagePath = 'http://img0.hdletv.com', _basePath = 'http://web_dev_service_group:80/';</script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="../Scripts/unitpngfix.js"></script>
    <![endif]-->
    <link type='text/css' href='__PUBLIC__/CSS/global.css' rel='stylesheet'/>

    <script type='text/javascript' src='__PUBLIC__/Scripts/generatesession.js'></script>

    <script type='text/javascript' src='__PUBLIC__/Scripts/zxlib.js'></script>

    <script type='text/javascript' src='__PUBLIC__/Scripts/template.js'></script>


    <link rel="icon" href="http://www.letv.com/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="http://www.letv.com/favicon.ico" type="image/x-icon"/>
    <title>乐视电视Max70 用户评价晒单 - 乐视商城</title>
    <meta name="keywords" content="max70怎么样,max70评价,乐视max70评价,超级电视max73评价">
    <meta name="description" content="">
    <link rel="canonical" href="http://shop.letv.com/product/max70/evaluation.html"/>
    <link href="__PUBLIC__/CSS/proinfo.css" rel="stylesheet"/>

<div class="main_body">
    <div class="product_info">
        <div style="height:73px;width:100%;min-width:1200px;">
            <div id="piao"
                 style="width:100%;min-width:1200px;height:70px;position:absolute; z-index:200; padding:0; top:150px; background-color:#fff;">
                <section class="pro_info_head">
                    <div class="center ">
                        <div class="pro_name left"><a href="/product/max70.html" webtrekkparam="{ct:'Max70_p_dh_cpjs'}">
                            <h1>{$res['name']}</h1></a></div>
                        <a target="_blank" class="block left bt_oline_service" href="/onlineservice.html"
                           webtrekkparam="{ct:'introduction_Max70_zxzx'}">
                            <span class="font12">在线咨询</span>
                        </a>

                        <div class="pro_button"><a class="red_bt_m block left t_c" webtrekkparam="{ct:'Max70_topbuy'}"
                                                   href="/product/product-pid-GWGT701002-n-3.html" target="_blank">
                            <span class="white">立即购买</span></a></div>
                        <div class="pro_tab right">
                            <ul class="uptabSwitch right">
                                <li><a class="" href="{:U('Goods/headline',array('pid'=>$res['pid']))}"
                                       webtrekkparam="{ct:'$res['name']_toptab1'}"><span>概述</span></a>|
                                </li>
                                <li><a class="" href="{:U('Goods/capability',array('pid'=>$res['pid']))}"
                                       webtrekkparam="{ct:'$res['name']_toptab2'}"> <span>性能</span></a>|
                                </li>
                                <li><a class="" href="{:U('Goods/design',array('pid'=>$res['pid']))}"
                                       webtrekkparam="{ct:'$res['name']_toptab3'}"> <span>设计与工艺</span></a>|
                                </li>
                                <li><a class="cur" href="{:U('Goods/letvUI',array('pid'=>$res['pid']))}"
                                       webtrekkparam="{ct:'$res['name']_toptab4'}"> <span>LetvUI</span></a>|
                                </li>
                                <li><a class="" href="{:U('Goods/letvStore',array('pid'=>$res['pid']))}"
                                       webtrekkparam="{ct:'$res['name']_toptab5'}"> <span>LetvStore</span></a>|
                                </li>
                                <li><a class="" href="{:U('Goods/param',array('pid'=>$res['pid']))}"
                                       webtrekkparam="{ct:'$res['name']_toptab6'}"> <span>规格参数</span></a>|
                                </li>
                                <li><a class="cur" href="{:U('Goods/compare',array('pid'=>$res['pid']))}"
                                       webtrekkparam="{ct:'$res['name']_toptab7'}"><span>评价晒单</span></a>|
                                </li>
                            </ul>
                        </div>
                        <div class="clear line_b"></div>
                    </div>
                </section>
            </div>
        </div>

        <!--!评价晒单-->
        <div class="tabSwichDiv6 tabSwichDiv center">
            <link rel="stylesheet" href="__PUBLIC__/CSS/sppj.css"/>
            <!--精华晒单-->
            <div class="perfect_sd comments_list hidden" id="perfect_sd_div">
                <div class="font16 mt20 mb10 ml5"><span class="dark">精华晒单</span></div>
                <ul class="sd_ul clearfix" id="sd_ul">
                    <li>
                        <div class="img"><img src="__PUBLIC__/Picture/a39bdd296f87422aaadb1e1b29e4d060.gif" alt=""/>
                        </div>
                        <div class="p10 perfect_user">
                            <div class="sd_top clearfix">
                                <span class="sd_userimg"><img
                                        src="__PUBLIC__/Picture/88e9da8388894991b3130f43836bb1bd.gif" alt="LE"/></span>
                                <span>乐迷小公主</span>
                                <span class="gray right">发表于 2014-09-24</span>
                            </div>
                            <p class="sd_p">
                                2013年中旬买了第一台乐视电视X60，刚开始报以试试的态度，从一收到电视，及第一次开始使用。乐视电视立马吸引了我的眼球，其他的电视质量如何，画面如何，操作如何...</p>
                        </div>
                        <div class="sd_reply p10 f8_bg line_t clearfix">
                            <a href="javascript:void(0);" class="zan left" id="zan" commentId="">赞(<span>11</span>)</a>
                        </div>
                    </li>
                </ul>
            </div>

            <!--精华评价-->
            <div class="perfect_pj comments_list mb15 hidden" id="perfect_pj_div">
                <div class="font16 mt20 mb10 ml5"><span class="dark">精华评价</span></div>
                <ul class="pj_ul clearfix" id="pj_ul">
                    <li>
                        <div class="pj_top">
                            <div class="user_img left"><img
                                    src="__PUBLIC__/Picture/88d555ee3ba54648828793eab4c570ac.gif" alt="user_img"/></div>
                            <div class="user_con right">
                                <p class="clearfix mb10">
                                    <span class="dark">听风雨飘飘</span>
                                    <span class="gray right">发表于 2014-9-24</span>
                                </p>

                                <p class="pj_p">
                                    2013年中旬买了第一台乐视电视X60，刚开始报以试试的态度，从一收到电视，及第一次开始使用。乐视电视立马吸引了我的眼球，其他的电视质量如何，画面如何，操作如何...</p>
                            </div>
                        </div>
                        <div class="sd_reply p10 f8_bg line_t clearfix">
                            <a href="javascript:void(0);" class="zan left" id="zan">赞(<span>11</span>)</a>
                        </div>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
                $(function () {
                    //debugger;
                    perfectShaidan();
                    perfectPingjia();
                });
                function perfectShaidan() {
                    var img_path = 'http://img2.hdletv.com';
                    var pid = "600200000811";
                    var type = 2;//是评论  2是晒单
                    var currentPage = 1;//当前页
                    var pageSize = 4;//最大数量
                    var url = sendLink.foru + "api/web/query/getCommentEssence.jsonp?pid=" + pid + "&type=" + type + "&pageSize=" + pageSize + "&currentPage=" + currentPage;
                    Js.sendData(url, {dataType: 'jsonp', type: 'post'}, function (data) {
                        if (data.status == "1") {
                            var sb = new StringBuffer();
                            var result = data.result[0];
                            var commentInfos = result.commentInfo;
                            $.each(commentInfos, function (index, commentInfo) {
                                sb.append('<li>');
                                sb.append('<div class="img">');
                                if (commentInfo.displayList != null && commentInfo.displayList.length > 0) {
                                    sb.append('<div class="img"><a href="javascript:void(0)" id="sd_detail" commentId="' + commentInfo.commentId + '"><img src="' + img_path + '/' + commentInfo.displayList[0].IMG + '" alt="" /></a></div>');
                                }
                                sb.append('</div>');
                                sb.append('<div class="p10 perfect_user">');
                                sb.append('<div class="sd_top clearfix">');
                                sb.append('<span class="sd_userimg block left">');
                                //if(commentInfo.userImg != null && commentInfo.userImg != ""){
                                if (commentInfo.userImg) {
                                    sb.append('<img src="' + commentInfo.userImg + '" />');
                                }
                                sb.append('</span>');
                                sb.append('<span class="block left">' + dealStringLength(commentInfo.userName, 4) + '</span>');
                                sb.append('<span class="gray block right">发表于 ' + commentInfo.createAt + '</span>');
                                sb.append('</div>');
                                sb.append('<p class="sd_p"><a href="javascript:void(0)" id="sd_detail" commentId="' + commentInfo.commentId + '">' + commentInfo.content + '</a></p>');
                                sb.append('</div>');
                                sb.append('<div class="sd_reply p10 f8_bg line_t clearfix">');
                                sb.append('<a href="javascript:void(0);" class="zan left" id="zan" commentId="' + commentInfo.commentId + '"}">赞(<span>' + commentInfo.praiseNum + '</span>)</a>');
                                sb.append('</div>');
                                sb.append('</li>');
                            });
                            $("#sd_ul").empty().append(sb.toString());
                            if (result.allCount > 0) {
                                $("#perfect_sd_div").show();
                            } else {
                                $("#perfect_sd_div").hide();
                            }
                        }
                    });
                }
                function perfectPingjia() {
                    var img_path = 'http://img3.hdletv.com';
                    var pid = "600200000811";
                    var type = 1;//是评论  2是晒单
                    var currentPage = 1;//当前页
                    var pageSize = 4;//最大数量
                    var url = sendLink.foru + "api/web/query/getCommentEssence.jsonp?pid=" + pid + "&type=" + type + "&pageSize=" + pageSize + "&currentPage=" + currentPage;
                    Js.sendData(url, {dataType: 'jsonp', type: 'post'}, function (data) {
                        if (data.status == "1") {
                            var sb = new StringBuffer();
                            var result = data.result[0];
                            var commentInfos = result.commentInfo;
                            $.each(commentInfos, function (index, commentInfo) {
                                sb.append('<li>');
                                sb.append('<div class="pj_top">');
                                sb.append('<div class="user_img left">');
                                //if(commentInfo.userImg != null && commentInfo.userImg != ""){
                                if (commentInfo.userImg) {
                                    sb.append('<a href="javascript:void(0)" id="pj_detail" commentId="' + commentInfo.commentId + '"><img src="' + commentInfo.userImg + '" /></a>');
                                }
                                sb.append('</div>');
                                sb.append('<div class="user_con right">');
                                sb.append('<p class="clearfix mb10">');
                                sb.append('<span class="dark block left">' + dealStringLength(commentInfo.userName, 4) + '</span>');
                                sb.append('<span class="gray block right">发表于 ' + commentInfo.createAt + '</span>');
                                sb.append('</p>');
                                sb.append('<p class="pj_p"><a href="javascript:void(0)" id="pj_detail" commentId="' + commentInfo.commentId + '">' + commentInfo.content + '</a></p>');
                                sb.append('</div>');
                                sb.append('</div>');
                                sb.append('<div class="sd_reply p10 f8_bg line_t clearfix">');
                                sb.append('<a href="javascript:void(0);" class="zan left" id="zan" commentId="' + commentInfo.commentId + '"}">赞(<span>' + commentInfo.praiseNum + '</span>)</a>');
                                sb.append('</div>');
                                sb.append('</li>');
                            });
                            $("#pj_ul").empty().append(sb.toString());
                            if (result.allCount > 0) {
                                $("#perfect_pj_div").show();
                            } else {
                                $("#perfect_pj_div").hide();
                            }
                        }
                    });
                }
                /**
                 * JS 截取String对象
                 * @param str
                 * @param _length
                 * @return str
                 */
                function dealStringLength(str, _length) {
                    var ret_str = str;
                    if (_length > 3) {
                        if (str != null && str.length > _length) {
                            ret_str = str.substring(0, 1) + "..." + str.substring(str.length - 2, str.length);
                        }
                    }
                    return ret_str;
                }
                /**
                 * JS 声名类似 java StringBuffer对象
                 * @param str
                 * @return
                 */
                function StringBuffer() {
                    this._things_ = new Array();
                }
                /**
                 * JS 实现 类似 java StringBuffer 的append 方法
                 * @param str
                 * @return
                 */
                StringBuffer.prototype.append = function (str) {
                    this._things_.push(str);
                    return this;
                }
                /**
                 * JS 实现 类似 java StringBuffer 的toString 方法
                 * @return
                 */
                StringBuffer.prototype.toString = function () {
                    return this._things_.join("");
                }
            </script>
            <div class="">
                <div class="comments_list pt20">
                    <div class="mb20 pt20 clearfix">
                        <div class="left comments_rate">
                            <div class="comments_rate_tb">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="37%" rowspan="3" align="center" valign="middle">
                                            <span class="Arial red inline_block clearfix"><em
                                                    class="font48 left">94 </em><em
                                                    class="left font24">%</em></span><br/>
                                            <span class="font14 gray">好评度</span>
                                        </td>
                                        <td width="18%" align="center" valign="middle">
                                            <span class="font14 gray">好评</span>
                                        </td>
                                        <td width="45%" align="left" valign="middle">
                                            <div class="rate">
                                                <div class="rate_theme" style="width:94.03%;"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">
                                            <span class="font14 gray">中评</span>
                                        </td>
                                        <td align="left" valign="middle">
                                            <div class="rate">
                                                <div class="rate_theme" style="width:5.54%;"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">
                                            <span class="font14 gray">差评</span>
                                        </td>
                                        <td align="left" valign="middle">
                                            <div class="rate">
                                                <div class="rate_theme" style="width:0.43%;"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="left comments_subject">
                            <dl>
                                <dt><span class="font14 mb10">大家认为</span></dt>
                                <dd class="mt5 clearfix">
                                    <span>性价比高(<em class="gray">38</em>)</span>
                                    <span>工艺精湛(<em class="gray">23</em>)</span>
                                    <span>画质清晰(<em class="gray">34</em>)</span>
                                    <span>操作方便(<em class="gray">13</em>)</span>
                                    <span>外观漂亮(<em class="gray">27</em>)</span>
                                    <span>内容丰富(<em class="gray">25</em>)</span>
                                </dd>
                            </dl>
                        </div>
                        <div class="left t_c comments_btn" id="op_button_a">
                            <a id="mypj" href="javascript:void(0)" onclick="return false;"
                               class="red_bt_m block mb15"><span class="white">我要评价</span></a>
                            <a id="mysd" href="javascript:void(0)"><span class="blue font14">发表晒单</span></a>
                        </div>
                    </div>
                    <div class="content clear pt20">
                        <div class="track_tit font16 clearfix" id="_tab_pj">
                            <a href="javascript:void(0);" class="cur" type="1">全部评价(469)</a>
                            <a href="javascript:void(0);" type="2">好评(441)</a>
                            <a href="javascript:void(0);" type="3">中评(26)</a>
                            <a href="javascript:void(0);" type="4">差评(2)</a>
                            <a href="javascript:void(0);" type="5">晒单(12)</a>
                        </div>
                        <!--内容区 start-->
                        <div id="initloading" class="line_t p50" style="display:none;text-align: center;"><img
                                src="__PUBLIC__/Picture/loading.gif"></div>
                        <!--所有评价 内容 开始-->
                        <div id="pj_content" class="line_t pl20 pr20 pb20" style="display:none;">
                            <div class="comments_item_bd pt40 pb40">
                                <div class="comments_content t_c font16">
                                    暂无评价信息
                                </div>
                            </div>
                        </div>
                        <!--所有评价 内容 结束-->
                        <!--晒单 内容 开始-->
                        <div id="sd_content" class="line_t pl20 pr20 pb20" style="display:none;">
                            <div class="comments_item_bd pt40 pb40">
                                <div class="comments_content t_c font16">
                                    暂无晒单信息
                                </div>
                            </div>
                        </div>
                        <!--晒单 内容 结束-->
                        <!--内容区 end-->
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var hrefPath = "";
                var allCount = "0";//数据总条数
                var pageSize = "10";//每页显示的数据条数
                var currentPage = "1";//当前页码
                var imgSrc = "tv/20140910/46729130771607709";//评价的商品图片
                var opname = "乐视TV•超级电视 Letv Max70（预售）挂架版（挂架独立包装）";//评价的商品名称
                var pid = "600200000811";
                var param_pid = "GWGT701002";
                var suiteNo = "GWGT701002"//isSuiteData 是否是套装   0：不是 1：是
                var optype = "0";//商品类型
            </script>
            <script type="text/javascript" src="__PUBLIC__/Scripts/pjsd.js"></script>
            <script type="text/javascript">

                $(function () {
                    /** 切换评价标签更新数据 */
                    $("#_tab_pj a").live("click", function () {
                        $(this).addClass("cur").siblings().removeClass();
                        ifLoading("show");
                        var type = $(this).attr("type");
                        callPjService(type);
                        ifLoading("hide");
                        return false;
                    });
                    callPjService(1);
                });
            </script>
            <script type="text/javascript" src="__PUBLIC__/Scripts/pjsd_reply.js"></script>
            <script id="pj_templete" type="text/text">
    <ul id="pj_content_ul_list">
      <%if(status == 1 && result && result[0].allCount > 0){
        for(var i=0;i<result[0].commentInfo.length;i++){%>
            <li class="line_t comments_item clearfix">
            <!--新增用户ID 和 图片-->
            <div class="left comments_user comment_left">
              <%if(result[0].commentInfo[i].userImg && result[0].commentInfo[i].userImg != ""){%>
                                   <span class="user_pic"><img src="<%=result[0].commentInfo[i].userImg%>" alt="" /></span>
                            <%}else {%>
                                 <span class="user_pic user_pic_bg"></span>
                            <%}%>
              <span class="font14">
                    <%if(result[0].commentInfo[i].userName && result[0].commentInfo[i].userName != ""){%>
                                     <%=result[0].commentInfo[i].userName%>
                                <%}else {%>
                                     匿名用户
                                <%}%>
                  </span>
            </div> 
            <div class="right comments_item_bd comment_right_sp">
              <div class="comments_content">
                <div class="clearfix">
                  <em class="star left"><%for(var k=1;k<=5;k++){if(k <=result[0].commentInfo[i].score){%><i class="on"></i><%}else{%><i class=""></i><%}}%></em>
                                    <%if(result[0].commentInfo[i].isHead == 1){%>
                                        <span class="jing left">顶</span>
                                    <%}%>
                  <p class="right gray">
                    <a href="javascript:void(0)" id="pj_detail" commentId="<%=result[0].commentInfo[i].commentId%>" class="pr10 dark">发表于<span class="date"><%=result[0].commentInfo[i].createAt%></span></a>
                  </p>
                </div>
                <p class="comments_con font14">
                  <a href="javascript:void(0)" id="pj_detail" commentId="<%=result[0].commentInfo[i].commentId%>"> <%=result[0].commentInfo[i].content%></a>
                </p>
                <%if(result[0].commentInfo[i].userTabList && result[0].commentInfo[i].userTabList.length > 0){%>
                  <div class="keywords">
                  <%for(var j=0;j<result[0].commentInfo[i].userTabList.length;j++){%>
                    <span><%=result[0].commentInfo[i].userTabList[j].tabName%></span>
                  <%}%>
                  </div>
                <%}%>
                <%if(result[0].commentInfo[i].displayList && result[0].commentInfo[i].displayList.length > 0){%>
                  <div class="comments_pic pb10 clearfix">
                  <%for(var j=0;j<result[0].commentInfo[i].displayList.length;j++){%>
                    <a href="/"><img alt="" src="__PUBLIC__/Picture/256edc17d5444af89bbe03dd85b11858.gif" style=""></a>
                  <%}%>
                  </div>
                <%}%>
                <div class="clearfix">
                  <a href="javascript:void(0);" class="zan left" id="zan" commentId="<%=result[0].commentInfo[i].commentId%>">赞(<span><%=result[0].commentInfo[i].praiseNum%></span>)</a>
                  <a href="javascript:void(0);" class="reply left" id="reply">回复(<span><%=result[0].commentInfo[i].repluNum%></span>)</a>
                  <div class="left ml10">
                      <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" data="{'text':'<%=result[0].commentInfo[i].content%>','desc':'<%=result[0].commentInfo[i].content%>','url':'<%=shareUrl%>','pic':'<%=productImg%>'}">
                      <a class="bds_qzone"></a><a class="bds_tsina"></a><a class="bds_tqq"></a><a class="bds_renren"></a>
                    </div>
                    </div>
                </div>
                <%if(result[0].commentInfo[i].replyContent != ""){%>
                <div class="f8_bg pl20 pr20 pt10 pb10 font14 mb10">
                  <span class="red">官方回复：</span><%=result[0].commentInfo[i].replyContent%>
                </div>
                <%}%>
              </div>
              <div style="display:none;" class="reply_div">
                <div class="f8_bg pt15 pl20 pr20 pb10">
                  <div class="comment_box_inner">
                    <textarea class="text1" id="replyContent_<%=i+1%>" value="" maxlength="50"></textarea>
                  </div>
                  <div class="comment_box_tips">
                    <input type="button" value="发表回复" class="white_bt_m mr15" id="replyButton_<%=i+1%>" reUserId="<%=result[0].commentInfo[i].userId%>" reUserName="<%=result[0].commentInfo[i].userName%>" commentId="<%=result[0].commentInfo[i].commentId%>"/>
                    您已输入<span id="studyNum" class="red">0</span>字，最多输入50字
                  </div>
                </div>
              </div>
            </div>
          </li>
        <%}
      } else {%>
        <div class="comments_item_bd pt40 pb40">
          <div class="comments_content t_c font16">
            暂无评价信息
          </div>
        </div>
      <%}%>
    </ul>
    <%if(status == 1 && result && result[0].allCount > 0){     
      if (result[0].allCount > 10){%>
        <div class="t_c pt20 pb20 pl90">
          <a href="javascript:void(0);" id="view_more"><span class="font16 gray">查看更多>></span></a>
        </div>
      <%}
    }%>

            </script>
            <script id="sd_templete" type="text/text">
    <ul id="pj_content_ul_list">
      <%if(status == 1 && result && result[0].allCount > 0){
        for(var i=0;i<result[0].commentInfo.length;i++){%>
            <li class="line_t comments_item clearfix">
            <!--新增用户ID 和 图片-->
            <div class="left comments_user comment_left">
                          <%if(result[0].commentInfo[i].userImg && result[0].commentInfo[i].userImg != ""){%>
                                   <span class="user_pic"><img src="<%=result[0].commentInfo[i].userImg%>" alt="" /></span>
                            <%}else {%>
                                 <span class="user_pic user_pic_bg"></span>
                            <%}%>
              <span class="font14">
                    <%if(result[0].commentInfo[i].userName && result[0].commentInfo[i].userName != ""){%>
                                     <%=result[0].commentInfo[i].userName%>
                                <%}else {%>
                                     匿名用户
                                <%}%>
                  </span>
            </div> 
            <div class="right comments_item_bd comment_right_sp">
              <div class="comments_content">
                <div class="clearfix">
                  <p class="right gray">
                                      <a href="javascript:void(0)" id="sd_detail" commentId="<%=result[0].commentInfo[i].commentId%>" class="pr10 dark">发表于<span class="date"><%=result[0].commentInfo[i].createAt%></span></a>
                  </p>
                </div>
                <p class="comments_con font14">
                  <a href="javascript:void(0)" id="sd_detail" commentId="<%=result[0].commentInfo[i].commentId%>"> <%=result[0].commentInfo[i].content%> <%if(result[0].commentInfo[i].isHead == 1){%><span class="jing">顶</span><%}%> </a>
                </p>
                <%if(result[0].commentInfo[i].userTabList && result[0].commentInfo[i].userTabList.length > 0){%>
                  <div class="keywords">
                  <%for(var j=0;j<result[0].commentInfo[i].userTabList.length;j++){%>
                    <span><%=result[0].commentInfo[i].userTabList[j].tabName%></span>
                  <%}%>
                  </div>
                <%}%>
                <%if(result[0].commentInfo[i].displayList && result[0].commentInfo[i].displayList.length > 0){%>
                  <div class="comments_pic pb10 clearfix">
                  <%for(var j=0;j<result[0].commentInfo[i].displayList.length;j++){%>
                    <a href="javascript:void(0)" id="sd_detail" commentId="<%=result[0].commentInfo[i].commentId%>"><img alt="" src="http://img1.hdletv.com/<%=result[0].commentInfo[i].displayList[j].IMG%>" style=""></a>
                  <%}%>
                  </div>
                <%}%>
                <div class="clearfix">
                  <a href="javascript:void(0);" class="zan left" id="zan" commentId="<%=result[0].commentInfo[i].commentId%>">赞(<span><%=result[0].commentInfo[i].praiseNum%></span>)</a>
                  <a href="javascript:void(0);" class="reply left" id="reply">回复(<span><%=result[0].commentInfo[i].repluNum%></span>)</a>
                  <div class="left ml10">
                                        <%if(result[0].commentInfo[i].displayList && result[0].commentInfo[i].displayList.length > 0){%>
                                            <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" data="{'text':'<%=result[0].commentInfo[i].content%>','desc':'<%=result[0].commentInfo[i].content%>','url':'<%=shareUrl%>','pic':'http://img2.hdletv.com/<%=result[0].commentInfo[i].displayList[0].IMG%>'}">
                                                <a class="bds_qzone"></a><a class="bds_tsina"></a><a class="bds_tqq"></a><a class="bds_renren"></a>
                                            </div>
                                          <%}else{%>
                                            <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" data="{'text':'<%=result[0].commentInfo[i].content%>','desc':'<%=result[0].commentInfo[i].content%>','url':'<%=shareUrl%>','pic':''}">
                                              <a class="bds_qzone"></a><a class="bds_tsina"></a><a class="bds_tqq"></a><a class="bds_renren"></a>
                                            </div>
                                          <%}%>
                  </div>
                </div>
                <%if(result[0].commentInfo[i].replyContent != ""){%>
                <div class="f8_bg pl20 pr20 pt10 pb10 font14 mb10">
                  <span class="red">官方回复：</span><%=result[0].commentInfo[i].replyContent%>
                </div>
                <%}%>
              </div>
              <div style="display:none;" class="reply_div">
                <div class="f8_bg pt15 pl20 pr20 pb10">
                  <div class="comment_box_inner">
                    <textarea class="text1" id="replyContent_<%=i+1%>" value="" maxlength="50"></textarea>
                  </div>
                  <div class="comment_box_tips">
                    <input type="button" value="发表回复" class="white_bt_m mr15" id="replyButton_<%=i+1%>" reUserId="<%=result[0].commentInfo[i].userId%>" reUserName="<%=result[0].commentInfo[i].userName%>" commentId="<%=result[0].commentInfo[i].commentId%>"/>
                    您已输入<span id="studyNum" class="red">0</span>字，最多输入50字
                  </div>
                </div>
              </div>
            </div>
          </li>
        <%}
      } else {%>
        <div class="comments_item_bd pt40 pb40">
          <div class="comments_content t_c font16">
            暂无晒单信息
          </div>
        </div>
      <%}%>
    </ul>
    <%if(status == 1 && result && result[0].allCount > 0){     
      if (result[0].allCount > 10){%>
        <div class="t_c pt20 pb20 pl90">
          <a href="javascript:void(0);" id="view_more"><span class="font16 gray">查看更多>></span></a>
        </div>
      <%}
    }%>

            </script>
            <script type="text/javascript" id="bdshare_js" data="type=tools&mini=1"></script>
        </div>
        <!--!评价晒单-->
    </div>
</div>
<a href="http://www.sojump.com/jq/3564480.aspx" target="_blank" class="diaocha block"></a>
<script type='text/javascript'>
    //全局统计变量
    var globalTongJi = {
        wk_contentId: "introduction.tv.max70",//webtrek用到的contentId
        zp_pageId: "122",//晶赞用到的_setPageID
        zp_pageType: "productPage",//晶赞用到的_setPageType
        zp_params: ['乐视超级电视Max70，两倍性能，1/3价格,在线购买-乐视商城', '乐视超级电视Max70', '0']//晶赞用到的_setParams
    }
</script>



<!-- 统计代码start-->
<div style="display:none">
    <script type="text/javascript">
        var myTongJi = {
            wk_contentId: "",//webtrek用到的contentId
            zp_pageId: "",//晶赞用到的_setPageID
            zp_pageType: "",//晶赞用到的_setPageType
            zp_params: [],//晶赞用到的_setParams
            zp_need: "1"
        }
        if (typeof(globalTongJi) != 'undefined') {
            if (globalTongJi.wk_contentId) {
                myTongJi.wk_contentId = globalTongJi.wk_contentId;
            }
            var zpqUrlPath = window.location.pathname;
            var zpqTitle = document.title;
            if (zpqUrlPath.indexOf("/help/") != -1 && !globalTongJi.wk_contentId) {
                myTongJi.zp_pageId = "helpPage";
            } else {
                myTongJi.zp_pageId = globalTongJi.wk_contentId;
            }
            if (globalTongJi.zp_pageId) {
                myTongJi.zp_pageId = globalTongJi.zp_pageId;
            }
            if (globalTongJi.zp_pageType) {
                myTongJi.zp_pageType = globalTongJi.zp_pageType;
            }
            if (globalTongJi.zp_params) {
                myTongJi.zp_params = globalTongJi.zp_params;
            }
            if (globalTongJi.zp_need) {
                myTongJi.zp_need = globalTongJi.zp_need;
            }
        } else {
            var zpqUrlPath = window.location.pathname;
            var zpqTitle = document.title;
            if (zpqUrlPath.indexOf("/help/") != -1) {
                myTongJi.zp_pageType = "helpPage";
                myTongJi.zp_params = [$(document).attr("title")];
            }
        }
    </script>
    <!-- 百度统计 start-->
    <script type="text/javascript" src="__PUBLIC__/Scripts/bdtj.js"></script>
    <!-- 百度统计 end-->

    <!-- webtrek统计 start-->
    <script type="text/javascript">
        var webtrekk_params = {
            contentId: myTongJi.wk_contentId
        };
    </script>
    <script type="text/javascript" src="__PUBLIC__/Scripts/webtrekk_v3.js"></script>
    <!-- webtrek统计 end-->

    <!-- 艾瑞统计 start-->
    //
    <script type="text/javascript">
        //   _iwt_no_flash = 1; //默认为0开启flash cookie；可以修改为1关闭flash cookie
        //   var _iwt_UA = "UA-letv-000002"; //客户项目编号,根据实际生成
        //   (function (D) {
        //   var h = D.getElementsByTagName('head')[0],
        //   s = D.createElement('script');
        //   s.type = 'text/javascript';
        //   s.charset = 'utf-8';
        //   s.src =_hrefPath+'/htmlResource/js/iwt.js';
        //   h.firstChild ? h.insertBefore(s, h.firstChild) : h.appendChild(s);
        //   })(document);
        // </script>
    <!-- 艾瑞统计 end-->

    <!-- pv统计 start-->
    <script type="text/javascript">
        var __INFO__ = {};

        var _siteid = '1';
        var _chlid = '16';
        var _clickTracker = false;
        (function (D) {
            window.Stat = {P1: 4, P2: 41};
            var h = D.getElementsByTagName('head')[0],
                    s = D.createElement('script');
            s.type = 'text/javascript';
            s.charset = 'utf-8';
            s.src = 'http://js.letvcdn.com/js/201409/16/leStats.js';
            h.firstChild ? h.insertBefore(s, h.firstChild) : h.appendChild(s);
        })(document);

        $(function () {
            var pvstatsTime = null;

            if (pvstatsTime) {
                pvstatsTime = null;
            } else {
                pvstatsTime = setTimeout(hidePVStatsDiv, 1000);
            }

            function hidePVStatsDiv() {
                if ($("#rookieswf") && $("#rookieswf").length > 0) {
                    $("#rookieswf").parent().hide();
                } else {
                    pvstatsTime = setTimeout(hidePVStatsDiv, 1000);
                }
            }
        });
    </script>
    <!-- pv统计 end-->

    <!-- 晶赞统计代码  begin  -->
    <script type='text/javascript'>
        var _sparam = ['_setParams'].concat(myTongJi.zp_params);
        var _zpq = _zpq || [];
        _zpq.push(['_setPageID', myTongJi.zp_pageId]);
        _zpq.push(['_setPageType', myTongJi.zp_pageType]);
        _zpq.push(_sparam);
        _zpq.push(['_setAccount', '104']);
        (function () {
            if (myTongJi.zp_need && (myTongJi.zp_need == "1")) {
                var zp = document.createElement('script');
                zp.type = 'text/javascript';
                zp.async = true;
                zp.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.zampda.net/s.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(zp, s);
            }
        })();
    </script>
    <!-- 晶赞统计代码  end  -->
</div>
<!-- 统计代码end-->
<script type="text/javascript">
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "有了大屏@超级电视 Max70，还去什么电影院！双倍性能只要1/3价格，客厅一放立马高大上~#我爱超级电视#海量片源看不完，高清3D效果赞！什么都别说了，赶紧入手私家影院>>>",
            "bdDesc": "有了大屏@超级电视 Max70，还去什么电影院！双倍性能只要1/3价格，客厅一放立马高大上~#我爱超级电视#海量片源看不完，高清3D效果赞！什么都别说了，赶紧入手私家影院>>>",
            "bdUrl": "http://shop.letv.com/product/max70/evaluation.html?cps_id=u_p_max70",
            "bdPic": "http://img3.hdletv.com/file/20141103/default/51391080306264089",
            "bdMini": "2",
            "bdMiniList": false,
            "bdStyle": "0",
            "bdSize": "32"
        },
        "share": {}
    };
    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>

<script type="text/javascript">
    //右侧飘窗显示隐藏方法
    $.fn.extend({
        showOrHide: function () {
            var _this = this;
            this.each(function (index, elem) {
                var $handle = $(elem);
                var name = $handle.attr("object");
                var $content = $(name);
                var timer = null;
                $handle.mouseover(function () {
                    show();
                }).mouseout(function () {
                    hide();
                });
                $content.mouseover(function () {
                    show();
                }).mouseout(function () {
                    hide2();
                });
                function show() {
                    clearTimeout(timer);
                    $content.show();
                }

                function hide() {
                    var interval = 300;
                    timer = setTimeout(function () {
                        $content.hide();
                    }, interval);
                }

                function hide2() {
                    $content.hide();
                }
            });
        }
    });

    var is_hidden = "1";//返回顶部
    var is_share_show = "0";//是否分享

    $(function () {
        //右侧飘窗显示隐藏
        $(".handle").showOrHide();
        //返回顶部
        if (is_hidden == "1") {
            initBackTop();
        }

        $(".ie6-hover").mouseover(function () {
            $(this).addClass("hover");
        });

        $(".ie6-hover").mouseout(function () {
            $(this).removeClass("hover");
        });
    });

    //初始化返回顶部按钮事件
    function initBackTop() {
        window.onscroll = function () {
            if (document.body.scrollTop == 0 ? document.documentElement.scrollTop : document.body.scrollTop > 50) {
                $("#backTop").show();
            } else {
                $("#backTop").hide();
            }
        }

        $("#backTop").unbind("click").bind("click", function () {
            pageScroll();
        });
    }
    //鼠标滚动事件
    function pageScroll() {
        window.scrollBy(0, -50);
        scrolldelay = setTimeout('pageScroll()', 1);
        var sTop = document.documentElement.scrollTop + document.body.scrollTop;
        if (sTop == 0) {
            clearTimeout(scrolldelay);
        }
    }
</script>
</body>
<!-- 底部系统引用 勿动 -->
<script type='text/javascript' src='__PUBLIC__/Scripts/jquery.lazyload.js'></script>

<script type='text/javascript' src='__PUBLIC__/Scripts/zxvideo.js'></script>

</html>
<!-- 系统引用 勿动 -->
<!-- 系统引用 勿动 -->
<script type="text/javascript" src="__PUBLIC__/Scripts/tv.js"></script>
<script type='text/javascript'>
    $(function () {
        //渐隐渐现
        $("#S50qp_gs3").galleryFade({time: 3000, width: 0});
        //轮播
        $("#ui5,#ui6,#ui7").indexGallery();

        //飘窗
        $("#piao").smartFloat();
        //超级电视弹窗视频效果
        $(".txs").each(function () {
            $(this).zxVideo();
        });
    });
</script>
</block>
