<extend name="Helpself:base"/>
<block name="nav">
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <!-- 系统引用 勿动 -->
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <!-- js引用文件添加 -->
    <!-- 页面底部统一引用jsInclude -->
    <!-- 引用静态页面标签 -->
    <script>var _hrefPath = '', _imagePath = 'http://img0.hdletv.com', _basePath = 'http://web_dev_service_group:80/';</script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="../Scripts/unitpngfix.js"></script>
    <![endif]-->
    <link type='text/css' href='__PUBLIC__/CSS/global.css' rel='stylesheet'/>

    <script type='text/javascript' src='__PUBLIC__/Scripts/generatesession.js'></script>

    <script type='text/javascript' src='__PUBLIC__/Scripts/zxlib.js'></script>

    <script type='text/javascript' src='__PUBLIC__/Scripts/template.js'></script>

    <link type='text/css' href='__PUBLIC__/CSS/proinfo.css' rel='stylesheet'/>

    <script type='text/javascript' src='__PUBLIC__/Scripts/newag.js'></script>
    <div class="main_body">
        <div class="product_info">
            <div style="height:73px;width:100%;min-width:1200px;">
                <div id="piao"
                     style="width:100%;min-width:1200px;height:70px;position:absolute; z-index:200; padding:0; top:150px; background-color:#fff;">
                    <section class="pro_info_head">
                        <div class="center ">
                            <div class="pro_name left"><a href="/product/max70.html"
                                                          webtrekkparam="{ct:'Max70_p_dh_cpjs'}"><h1>{$res['name']}</h1>
                            </a></div>
                            <a target="_blank" class="block left bt_oline_service" href="/onlineservice.html"
                               webtrekkparam="{ct:'introduction_Max70_zxzx'}">
                                <span class="font12">在线咨询</span>
                            </a>

                            <div class="pro_button"><a class="red_bt_m block left t_c"
                                                       webtrekkparam="{ct:'Max70_topbuy'}"
                                                       href="/product/product-pid-GWGT701002-n-3.html" target="_blank">
                                <span class="white">立即购买</span></a></div>
                            <div class="pro_tab right">
                                <ul class="uptabSwitch right">
                                    <li><a class="" href="{:U('Goods/headline',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab1'}"><span>概述</span></a>|
                                    </li>
                                    <li><a class="" href="{:U('Goods/capability',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab2'}"> <span>性能</span></a>|
                                    </li>
                                    <li><a class="cur" href="{:U('Goods/design',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab3'}"> <span>设计与工艺</span></a>|
                                    </li>
                                    <li><a class="" href="{:U('Goods/letvUI',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab4'}"> <span>LetvUI</span></a>|
                                    </li>
                                    <li><a class="" href="{:U('Goods/letvStore',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab5'}"> <span>LetvStore</span></a>|
                                    </li>
                                    <li><a class="" href="{:U('Goods/param',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab6'}"> <span>规格参数</span></a>|
                                    </li>
                                    <li><a class="" href="{:U('Goods/compare',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab7'}"><span>评价晒单</span></a>|
                                    </li>
                                </ul>
                            </div>
                            <div class="clear line_b"></div>
                        </div>
                    </section>
                </div>
            </div>
            <!--工艺开始-->
            <div class="gongyi tabSwichDiv2 tabSwichDiv">
                <section class="max70_off black_bg">
                    <div class="center">
                        <div class="section_text t_c">
                            <div class="title">富士康打造，完美艺术之作</div>
                            <div class="content pt40">超级电视Max70，由顶级制造商富士康完美打造，采用一体式设计，<br>
                                每一个环节都严格质量把控，打造超级电视Max70的工艺之美。
                            </div>
                        </div>
                    </div>
                </section>
                <section class="max70_border">
                    <div class="center ">
                        <div class="section_text left">
                            <div class="title">激光切割 <br> 全铝无缝机身</div>
                            <div class="content pt25"> 浑然天成的金属机身，简约平整的后背板，<br> 打造一体化的设计美感。</div>
                        </div>
                    </div>
                </section>
                <section class="max70_yunbase  black_bg">
                    <div class="center ">
                        <div class="section_text left ">
                            <div class="title">专属设计,完美缔造</div>
                            <div class="title1 pt20">新云底座,缔造超级电视艺术之美</div>
                            <div class="content pt35">结合中国传统的剪纸艺术,加入了镂空设计,加强底座稳固的同时,<br> 给予超级电视Max70艺术之美 感,使之成为私人空间的艺术品。
                            </div>
                        </div>
                    </div>
                </section>
                <section class="max70_base">
                    <div class="center ">
                        <div class="section_text left pl50">
                            <div class="title"> 放弃对平庸的依赖<br>
                                形成自己的行云流水
                            </div>
                            <div class="content pt35"> 和市面上绝大多数四四方方的呆板不同，<br>
                                底座上的一点弧度，或许能让你感受到我们在设计上的灵动与精巧。
                            </div>
                        </div>
                    </div>
                </section>
                <section class="max70_size white_bg">
                    <div class="center relative">
                        <div class="section_text ">
                            <div class="title t_c  pt158 "> 既有自己的美学，又能完美融入你的客厅</div>
                        </div>
                        <div class="section_pic pt40 t_c"><img alt="" class="lz"
                                                               data-url="http://img1.hdletv.com/file/20140819/default/44854880498110430"
                                                               style=""/></div>
                    </div>
                </section>
                <section class="max70_dibu">
                    <div class=" line_t pb20 pt30  t_c center"><a webtrekkparam="{ct:'Max70_sjgy_next'}"
                                                                  onclick="$('.uptabSwitch').find('li:eq(3)').trigger('click');"
                                                                  href="/product/max70/ui.html"> <span
                            class="red font18">继续了解 Max70 超级电视 LetvUI >></span> </a></div>
                </section>
                <br>
            </div>
            <!--工艺结束-->
</block>