<extend name="Helpself:base"/>
<block name="nav">
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <!-- 系统引用 勿动 -->
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <!-- js引用文件添加 -->
    <!-- 页面底部统一引用jsInclude -->
    <!-- 引用静态页面标签 -->
    <script>var _hrefPath = '', _imagePath = 'http://img0.hdletv.com', _basePath = 'http://web_dev_service_group:80/';</script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="../Scripts/unitpngfix.js"></script>
    <![endif]-->


    <script type='text/javascript' src='__PUBLIC__/Scripts/generatesession.js'></script>

    <script type='text/javascript' src='__PUBLIC__/Scripts/zxlib.js'></script>

    <script type='text/javascript' src='__PUBLIC__/Scripts/template.js'></script>

    <link type='text/css' href='__PUBLIC__/CSS/proinfo.css' rel='stylesheet'/>

    <script type='text/javascript' src='__PUBLIC__/Scripts/newag.js'></script>
    <div class="main_body">
        <div class="product_info">
            <div style="height:73px;width:100%;min-width:1200px;">
                <div id="piao"
                     style="width:100%;min-width:1200px;height:70px;position:absolute; z-index:200; padding:0; top:150px; background-color:#fff;">
                    <section class="pro_info_head">
                        <div class="center ">
                            <div class="pro_name left"><a href="/product/max70.html"
                                                          webtrekkparam="{ct:'Max70_p_dh_cpjs'}"><h1>{$res['name']}</h1>
                            </a></div>
                            <a target="_blank" class="block left bt_oline_service" href="/onlineservice.html"
                               webtrekkparam="{ct:'introduction_Max70_zxzx'}">
                                <span class="font12">在线咨询</span>
                            </a>

                            <div class="pro_button"><a class="red_bt_m block left t_c"
                                                       webtrekkparam="{ct:'Max70_topbuy'}"
                                                       href="/product/product-pid-GWGT701002-n-3.html" target="_blank">
                                <span class="white">立即购买</span></a></div>
                            <div class="pro_tab right">
                                <ul class="uptabSwitch right">
                                    <li><a class="" href="{:U('Goods/headline',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab1'}"><span>概述</span></a>|
                                    </li>
                                    <li><a class="" href="{:U('Goods/capability',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab2'}"> <span>性能</span></a>|
                                    </li>
                                    <li><a class="" href="{:U('Goods/design',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab3'}"> <span>设计与工艺</span></a>|
                                    </li>
                                    <li><a class="" href="{:U('Goods/letvUI',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab4'}"> <span>LetvUI</span></a>|
                                    </li>
                                    <li><a class="" href="{:U('Goods/letvStore',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab5'}"> <span>LetvStore</span></a>|
                                    </li>
                                    <li><a class="cur" href="{:U('Goods/param',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab6'}"> <span>规格参数</span></a>|
                                    </li>
                                    <li><a class="" href="{:U('Goods/compare',array('pid'=>$res['pid']))}"
                                           webtrekkparam="{ct:'$res['name']_toptab7'}"><span>评价晒单</span></a>|
                                    </li>
                                </ul>
                            </div>
                            <div class="clear line_b"></div>
                        </div>
                    </section>
                </div>
            </div>

            <!--参数开始-->
            <div class="chansu center tabSwichDiv5 tabSwichDiv">
                <a name="chansu"></a>

                <div class="center">
                    <div class="t_c"><img alt="" src="__PUBLIC__/Picture/a4c4fb0676a5482d97b251aa5b485de1.gif"
                                          style=""/></div>
                    <div class="t_c" style="margin-top:-1px;"><img alt=""
                                                                   src="__PUBLIC__/Picture/9459e038680a44baba5c1615c655dd54.gif"
                                                                   style=""/></div>
                    <div class="t_c" style="margin-top:-1px;"><img alt=""
                                                                   src="__PUBLIC__/Picture/3cd8fdf7460d4970a5c698d69bf03dc5.gif"
                                                                   style=""/></div>
                    <div class="t_c" style="margin-top:-1px;"><img alt=""
                                                                   src="__PUBLIC__/Picture/30787485f84e4fb292245b0e4468a1a1.gif"
                                                                   style=""/></div>
                    <div class="t_c" style="margin-top:-1px;"><img alt=""
                                                                   src="__PUBLIC__/Picture/dbfcccf0052b4eca9f888ea1afb662b9.gif"
                                                                   style=""/></div>
                    <div class="t_c" style="margin-top:-1px;"><img alt=""
                                                                   src="__PUBLIC__/Picture/f3c584f27c83420f864bb079ed3e0f6d.gif"
                                                                   style=""/></div>
                    <div class="t_c" style="margin-top:-1px;"><img alt=""
                                                                   src="__PUBLIC__/Picture/18118f712fdd4405a62e8d8c19b71654.gif"
                                                                   style=""/></div>
                    <div class="t_c" style="margin-top:-1px;"><img alt=""
                                                                   src="__PUBLIC__/Picture/7b747685a9034fd6b1b014d2a7d0da80.gif"
                                                                   style=""/></div>
                </div>
            </div>
            <!--参数结束-->
</block>
