<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/colorpicker/colorpicker.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/custom-plugins/wizard/wizard.css" media="screen">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mws-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons/icol16.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/icons/icol32.css" media="screen">

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/demo.css" media="screen">

<!-- jQuery-UI Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/jui/css/jquery.ui.all.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/jui/jquery-ui.custom.css" media="screen">

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mws-theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/themer.css" media="screen">

<title>{:C("webTitle")} 后台管理首页</title>
<style type="text/css">
    iframe{width:1000px;height:800px;}
    

</style>
</head>

<body>
	<!-- Header -->
	<div id="mws-header" class="clearfix">
    
    	<!-- Logo Container -->
    	<div id="mws-logo-container">
        
        	<!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
        	<div id="mws-logo-wrap">
            	   <img src="__PUBLIC__/images/mws-logo.png" alt="mws admin">
            </div>
        </div>
        
        <!-- User Tools (notifications, logout, profile, change password) -->
        <div id="mws-user-tools" class="clearfix">
        
        	<!-- Notifications -->
        	<div id="mws-user-notif" class="mws-dropdown-menu">
            	<a href="#" data-toggle="dropdown" class="mws-dropdown-trigger"><i class="icon-exclamation-sign"></i></a>
                
                <!-- Unread notification count -->
                <span class="mws-dropdown-notif">35</span>
                
                <!-- Notifications dropdown -->
                <div class="mws-dropdown-box">
                	<div class="mws-dropdown-content">
                        <ul class="mws-notifications">
                        	<li class="read">
                            	<a href="#">
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        	<li class="read">
                            	<a href="#">
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        	<li class="unread">
                            	<a href="#">
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        	<li class="unread">
                            	<a href="#">
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="mws-dropdown-viewall">
	                        <a href="#">View All Notifications</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Messages -->
            <div id="mws-user-message" class="mws-dropdown-menu">
            	<a href="#" data-toggle="dropdown" class="mws-dropdown-trigger"><i class="icon-envelope"></i></a>
                
                <!-- Unred messages count -->
                <span class="mws-dropdown-notif">35</span>
                
                <!-- Messages dropdown -->
                <div class="mws-dropdown-box">
                	<div class="mws-dropdown-content">
                        <ul class="mws-messages">
                        	<li class="read">
                            	<a href="#">
                                    <span class="sender">John Doe</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        	<li class="read">
                            	<a href="#">
                                    <span class="sender">John Doe</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        	<li class="unread">
                            	<a href="#">
                                    <span class="sender">John Doe</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        	<li class="unread">
                            	<a href="#">
                                    <span class="sender">John Doe</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="mws-dropdown-viewall">
	                        <a href="#">View All Messages</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- User Information and functions section -->
            <div id="mws-user-info" class="mws-inset">
            
            	<!-- User Photo -->
            	<div id="mws-user-photo">
                	<img src="__PUBLIC__/example/profile.jpg" alt="User Photo">
                </div>
             
                <!-- Username and Functions -->
                <div id="mws-user-functions">
                    <div id="mws-username">
                           管理员{$_SESSION['user']['username']},你好!
                    </div>
                    <ul>
                    	
                        <li><a href="#">修改密码</a></li>
                        <li><a href="{:U('Login/logout')}">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
    
    	<!-- Necessary markup, do not remove -->
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        
            <!-- Hidden Nav Collapse Button -->
            <div id="mws-nav-collapse">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
        	<!-- Searchbox -->
        	<div id="mws-searchbox" class="mws-inset">
            	<form action="typography.html">
                	<input type="text" class="mws-search-input" placeholder="Search...">
                    <button type="submit" class="mws-search-submit"><i class="icon-search"></i></button>
                </form>
            </div>
            
            <!-- Main Navigation -->
            <div id="mws-navigation">
                <ul>

                	 <li >
                        <a href="#"><i class="icon-list"></i> 后台用户管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Useradmin/add')}" target="frame">管理员添加</a></li>
                            <li><a href="{:U('Useradmin/index')}" target="frame">管理员列表</a></li>
                        </ul>
                    </li>
                    
                    <li >
                        <a href="#"><i class="icon-list"></i> 前台用户管理</a>
                        <ul class="closed">
                            <li><a href="{:U('User/add')}" target="frame">用户添加</a></li>
                            <li><a href="{:U('User/index')}" target="frame">用户列表</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 乐商首页管理</a>
                        <ul class="closed">
                            <li><a href="{:U('LeIndex/add')}" target="frame">板块添加</a></li>
                            <li><a href="{:U('Leindex/index')}" target="frame">板块列表</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 导航菜单管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Nav/add')}" target="frame">菜单添加</a></li>
                            <li><a href="{:U('Nav/index')}" target="frame">菜单列表</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i>轮播管理</a>
                        <ul class="closed">
                            <li><a href="{:U('HomeSild/lists')}" target="frame">轮播列表</a></li>
                            <li><a href="{:U('HomeSild/add')}" target="frame">添加轮播</a></li>

                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 分类管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Cate/add')}" target="frame">分类添加</a></li>
                            <li><a href="{:U('Cate/index')}" target="frame">分类列表</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 商品管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Goods/add')}" target="frame">商品添加</a></li>
                            <li><a href="{:U('Goods/index')}" target="frame">商品列表</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 配件管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Fit/add')}" target="frame">配件添加</a></li>
                            <li><a href="{:U('Fit/index')}" target="frame">配件列表</a></li>
                            <li><a href="{:U('Fitimg/add')}" target="frame">配件详情图片添加</a></li>
                            <li><a href="{:U('Fitimg/index')}" target="frame">配件详情图片列表</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 库存管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Amount/add')}" target="frame">库存添加与调节</a></li>
                            <li><a href="{:U('Amount/index')}" target="frame">库存列表</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 订单管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Order/add')}" target="frame">订单添加</a></li>
                            <li><a href="{:U('Order/index')}" target="frame">订单列表及详情</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 订单评价管理</a>
                        <ul class="closed">
                            <!-- <li><a href="{:U('Fitassess/add')}" target="frame">评价订单</a></li> -->
                            <li><a href="{:U('Goodsassess/index')}" target="frame">商品和配件评价管理</a></li>
                            <li><a href="{:U('Goodsassess/addtag')}" target="frame">评价标签设置</a></li>
                            <li><a href="{:U('Goodsassess/taglist')}" target="frame">评价标签列表</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 比一比管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Product/add')}" target="frame">产品添加</a></li>
                            <li><a href="{:U('Product/index')}" target="frame">产品列表</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 看一看首页管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Look/index')}" target="frame">首页banner管理</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 文章管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Article/add')}" target="frame">文章添加</a></li>
                            <li><a href="{:U('Article/index')}" target="frame">文章列表</a></li>
                        </ul>
                    </li> 
                      
                    <li><a href="{:U('Store/index')}" target="frame"><i class="icon-list"></i>Store 首页设置</a></li>                 
                     <li >
                        <a href="#"><i class="icon-list"></i>Store 资源管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Store/lists')}" target="frame">资源列表</a></li>
                            <li><a href="{:U('Store/add')}" target="frame">资源添加</a></li>
                            <!-- <li><a href="{:U('Store/tagLists')}" target="frame">资源标签Tag列表</a></li> -->
                            <li><a href="{:U('Store/tagAdd')}" target="frame">资源标签Tag添加</a></li>
                            <li><a href="{:U('Store/cate_list')}" target="frame">资源分类列表</a></li>
                            <li><a href="{:U('Store/cate_add')}" target="frame">资源分类添加</a></li>
                            <li><a href="{:U('Store/control_device')}" target="frame">操控设备管理</a></li>
                        </ul>
                    </li>
                     <li >
                        <a href="#"><i class="icon-list"></i>Store 活动管理</a>
                        <ul class="closed">
                            <li><a href="{:U('StoreAct/lists')}" target="frame">活动列表</a></li>
                            <li><a href="{:U('StoreAct/add')}" target="frame">活动添加</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="{:U('Server/index')}" target="frame"><i class="icon-edit"></i> 服务条款</a>                       
                    </li>
                    <li >
                        <a href="{:U('Help/index')}" target="frame"><i class="icon-edit"></i> 帮助中心</a>                       
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i>优惠卷</a>
                        <ul class="closed">
                            <li><a href="{:U('Coupon/index')}" target="frame">优惠卷活动列表</a></li>
                            <li><a href="{:U('Coupon/add')}" target="frame">优惠活动添加</a></li>
                        </ul>
                    </li>
                    <li >
                        <a href="#"><i class="icon-list"></i> 首页公告管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Announcement/add')}" target="frame">首页公告添加</a></li>
                            <li><a href="{:U('Announcement/index')}" target="frame">首页公告列表</a></li>
                        </ul>
                    </li>
                     <li >
                        <a href="#"><i class="icon-list"></i> 友情链接管理</a>
                        <ul class="closed">
                            <li><a href="{:U('Links/add')}" target="frame">友情链接添加</a></li>
                            <li><a href="{:U('Links/index')}" target="frame">友情链接列表</a></li>
                        </ul>
                    </li>
                </ul>
            </div>         
        </div>
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Inner Container Start -->
            <div class="container">
            
            <iframe id="iframe" src="{:U('System/index')}" frameborder="0" name="frame"></iframe>    
                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
                       
            
            
        </div>
        <!-- Main Container End -->
        
    </div>

    <!-- JavaScript Plugins -->
    <script src="__PUBLIC__/js/libs/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/js/libs/jquery.mousewheel.min.js"></script>
    <script src="__PUBLIC__/js/libs/jquery.placeholder.min.js"></script>
    <script src="__PUBLIC__/custom-plugins/fileinput.js"></script>
    
    <!-- jQuery-UI Dependent Scripts -->
    <script src="__PUBLIC__/jui/js/jquery-ui-1.9.2.min.js"></script>
    <script src="__PUBLIC__/jui/jquery-ui.custom.min.js"></script>
    <script src="__PUBLIC__/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script src="__PUBLIC__/plugins/datatables/jquery.dataTables.min.js"></script>
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/libs/excanvas.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/plugins/flot/jquery.flot.min.js"></script>
    <script src="__PUBLIC__/plugins/flot/plugins/jquery.flot.tooltip.min.js"></script>
    <script src="__PUBLIC__/plugins/flot/plugins/jquery.flot.pie.min.js"></script>
    <script src="__PUBLIC__/plugins/flot/plugins/jquery.flot.stack.min.js"></script>
    <script src="__PUBLIC__/plugins/flot/plugins/jquery.flot.resize.min.js"></script>
    <script src="__PUBLIC__/plugins/colorpicker/colorpicker-min.js"></script>
    <script src="__PUBLIC__/plugins/validate/jquery.validate-min.js"></script>
    <script src="__PUBLIC__/custom-plugins/wizard/wizard.min.js"></script>

    <!-- Core Script -->
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script src="__PUBLIC__/js/core/themer.js"></script>
    <!-- Demo Scripts (remove if not needed) -->
    <script src="__PUBLIC__/js/demo/demo.dashboard.js"></script>
    <!--<script type="text/javascript">
        $(document).scroll(function(){
               var _h = $("#mws-navigation").height();
               console.log(_h);
               $("#iframe").height(_h);
        })
    </script>-->
</body>
</html>