<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <!-- js引用文件添加 -->
  <!-- 页面底部统一引用jsInclude -->
  <!-- 引用静态页面标签 -->
   <block name="css">
  <script>var _hrefPath = '',_imagePath = '',_basePath = '';</script>
  <!--[if lt IE 7]>
  <script type="text/javascript" src="__PUBLIC__/js/Scripts/unitpngfix.js"></script>
  <![endif]-->

    <link  type='text/css' href='__PUBLIC__/css/Content/global.css' rel='stylesheet' />

    <script type='text/javascript' src='__PUBLIC__/js/Scripts/generatesession.js'></script>
    
    <script type='text/javascript' src='__PUBLIC__/js/Scripts/zxlib.js'></script>

    <script type='text/javascript' src='__PUBLIC__/js/Scripts/template.js'></script>

  <link  type='text/css' href='__PUBLIC__/css/Content/global.css' rel='stylesheet' />
                <link  type='text/css' href='__PUBLIC__/css/Content/help.css' rel='stylesheet' />
            <link  type='text/css' href='__PUBLIC__/css/Content/index.css' rel='stylesheet' />
            <script type='text/javascript' src='__PUBLIC__/js/Scripts/generatesession.js'></script>
            <script type='text/javascript' src='__PUBLIC__/js/Scripts/zxlib.js'></script>
            <script type='text/javascript' src='__PUBLIC__/js/Scripts/template.js'></script>
  <link rel="icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon"  href="__PUBLIC__/images//favicon.ico" type="image/x-icon"/>
</block>
  <title>{:C('webTitle')}</title>
  <meta content="{:C('keywords')}" name="keywords">
  <meta content="{:C('description')}" name="description"></head>
<body>
  <div class="header"  style="text-align:center;background:#FFFFFF">
    <div class="top_link f8_bg">
      <div class="center">
          <ul class="left quick_links">
            <li>
              <a href="{:U('Home/Appstore/index')}"  target="_blank" webtrekkparam="{ct:'xbsy_dh1_Store'}" >
                <span class="pl15 pr15">LetvStore</span>
              </a>
              |
            </li>
            <li class="hd_list show_hide_block abroad" object="#abroad" type="slide" speed="fast" buffer="300">
              <a href="#" webtrekkparam="{ct:'xbsy_dh1_hw'}">
                <span class="pl15 pr25">海外版</span>
              </a>
              |
              <dl id="abroad">
                <dt>
                  <a href="#" webtrekkparam="{ct:'xbsy_dh1_hw'}">海外版</a>
                </dt>
                <dd>
                  <a href="#" webtrekkparam="{ct:'xbsy_dh1_HK'}">香港站</a>
                </dd>
              </dl>
            </li>
            <li class="mzhan show_hide_block" object="#mzhan" type="slide" speed="fast" buffer="300">
              <a href="#" webtrekkparam="{ct:'xbsy_dh1_sj'}">
                <span class="pl15 pr15">手机版</span>
              </a>
              |
              <div id="mzhan">
                <div class="left">
                  <img  alt=""  src="__PUBLIC__/images/Picture/886616c005564ee398fad966d50e6a73.gif" style="width:95px;"/>
                </div>
                <div class="left pl5">
                  <span class="dark">
                    扫描下载客户端
                    <br/>
                    手机抢购更给力
                  </span>
                  <br/>
                  <span class="gray">iPhone | Android</span>
                  <br/>
                  <a href="/app/download.html" webtrekkparam="{ct:'xbsy_dh1_sj_download'}" class="block red_bt_s mt10">
                    <span class="font12 white">免费下载</span>
                  </a>
                </div>
              </div>
            </li>
            <li>
              <a href="http://bbs.letv.com" webtrekkparam="{ct:'xbsy_dh1_sq'}">
                <span class="pl15 pr15">社区</span>
              </a>
              |
            </li>
            <li>
              <a href="/dkh.html" webtrekkparam="{ct:'xbsy_dh1_dkh'}">
                <span class="pl15 pr15">大客户通道</span>
              </a>
            </li>
          </ul>
          <ul class="right log_order t_r">
            <?php 
            session_start();
            if(!session('users')){
       ?>
        <li id="loginMess" class="loginNew"><a id="login" rel="nofollow" href="{:U('Login/index')}"><span class="pl15 ">登录</span></a> | <a rel="nofollow" target="_blank" href="{:U('Register/index')}"><span class=" pr15">注册</span></a></li>

        <?php  
        }else{         
        ?>

       <li class="loginNew" id="loginMess"><span class="gray">Hi,</span><a title="" target="_blank" href="" rel="nofollow"><span class="pl5 pr5">{$_SESSION['users']['username']}</span></a> <a id="logout"  href="{:U('Login/logout')}" rel="nofollow"><span class="pl5 pr15">[退出]</span></a></li>

      <?php  
      }
       ?>
            <li class="order">
              <a rel="nofollow" webtrekkparam="{ct:'xbsy_dh1_myorder'}"  href="{:U("Account/order")}">
                <span class="pl15 pr15">我的订单</span>
              </a>
            </li>
            <li class="hd_list show_hide_block" object="#help" type="slide" speed="fast" buffer="300">
              <a href="{:U("helpself/index")}" webtrekkparam="{ct:'xbsy_dh1_help'}" target="_blank">
                <span class="pl15 pr25">帮助中心</span>
              </a>
              <dl id="help">
                <dt>
                  <a href="{:U("helpself/index")}" target="_blank">帮助中心</a>
                </dt>
                <dd>
                  <a href="#" webtrekkparam="{ct:'xbsy_dh1_help_psaz'}" target="_blank">配送安装</a>
                </dd>
                <dd>
                  <a href="#" webtrekkparam="{ct:'xbsy_dh1_help_shfw'}" target="_blank">售后服务</a>
                </dd>
                <dd>
                  <a href="#" webtrekkparam="{ct:'xbsy_dh1_help_yfbz'}" target="_blank">运费标准</a>
                </dd>
                <dd>
                  <a href="#" webtrekkparam="{ct:'xbsy_dh1_help_lxkf'}" target="_blank">联系客服</a>
                </dd>
              </dl>
            </li>
            <li class="hd_list show_hide_block" object="#dao" type="slide" speed="fast" buffer="300">
              <a href="javascript:void(0)" webtrekkparam="{ct:'xbsy_dh1_stdh'}">
                <span class="pl15 pr25">生态导航</span>
              </a>
              <dl id="dao">
                <dt>生态导航</dt>
                <dd>
                  <a href="#" webtrekkparam="{ct:'xbsy_dh1_stdh_lsw'}" target="_blank">乐视网</a>
                </dd>
                <dd>
                  <a href="#" webtrekkparam="{ct:'xbsy_dh1_stdh_wjw'}" target="_blank">网酒网</a>
                </dd>
                <dd>
                  <a href="#" webtrekkparam="{ct:'xbsy_dh1_stdh_lsh'}" target="_blank">乐生活</a>
                </dd>
                <!--<dd>
                <a href="/zt/cp2c.html" target="_blank">CP2C</a>
              </dd>
              -->
            </dl>
          </li>
        </ul>
    </div>
  </div>
    <div class="center">
      <a class="block logo left " webtrekkparam="{ct:'xbsy_LOGO'}" href="{:U('Index:index')}"><img src="{:C('HTTP_LOGO')}"></a>
      <div class="logo_right left">
        <a href="{:U('Index:index')}" webtrekkparam="{ct:'xbsy_zexhr'}">
          <img src="__PUBLIC__/images/Picture/321c7a0420674f369ccbf2c19f3d4467.gif"/>
        </a>
      </div>
      <a class="block head_cart" href="{:U('cart/index')}" webtrekkparam="{ct:'xbsy_gwc'}" target="_blank">
        <div class="had_num" id="productNumInCart"></div>
        <span class="pl20 white font14">购物车</span>
      </a>
      <div class="clear"></div>
    </div>

  <?php 
  //获取上方右侧导航菜单
  $rNav = getNav(1);
  //获取上方左侧导航菜单
  $lNav = getNav(0);
  ?>
    <div class="nav">
      <div class="center relative zindex299" >
        <ul class="main_nav left">
          <foreach name="lNav" item="v">
              <li class="hadlist">
                <a href="{$v['url']}"> {$v['title']}</a>
              </li>
          </foreach>

        </ul>
        <ul class="yinxiao right">
          <li>|</li>
          <foreach name="rNav" item='v'>
             <li>
              <a href="{$v['url']}" target="_blank" >{$v['title']}</a>
            </li>
          </foreach>          
          <!--<li>
          <a target="_blank" webtrekkparam="{ct:'H_tyzx'}" href="http://shop.hdletv.com/#/Homepage">超级体验中心</a>
        </li>
        -->
      </ul>
  </div>
  </div>
  </div>
   <block name="nav">
      <div id="allProduct" class="all_product absolute zindex999">
        <ul class="product_list product_tabs">
          <li>
            <img  alt="超级电视"  src="__PUBLIC__/images/Picture/cdd1bc0626544f6f942d3b2878367cd0.gif" style=""/>
            <br />
            超级电视
          </li>
          <li>
            <img  alt="乐视盒子"  src="__PUBLIC__/images/Picture/42ce4cabf3fc4eedac73b8c5483ed8c7.gif" style=""/>
            <br />
            乐视盒子
          </li>
          <li>
            <img  alt="leme"  src="__PUBLIC__/images/Picture/4bf082f3ae814f97b5be756781b91a5d.gif" style=""/>
            <br />
            Leme
          </li>
          <li>
            <img  alt="配件"  src="__PUBLIC__/images/Picture/abfa3db75c1845cfbba7093acdaf6ac8.gif" style=""/>
            <br />
            配件
          </li>

        </ul>
        <div class="tab_detail_box hidden" >
          <ul>
            <li class="product_show clearfix tab_detail" id="p01">
              <dl class="line_r">
                <dt >70吋电视</dt>
                <dd>
                  <a href="/product/max70.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_cjds_Max70'}" target="_blank">·  Max70</a>
                </dd>
              </dl>
              <dl class="line_r">
                <dt >60吋电视</dt>
                <dd>
                  <a href="/product/x60s.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_cjds_X60S_gsd'}" target="_blank">·  X60S 敢死队·硬汉版</a>
                </dd>
                <dd>
                  <a href="/product/x60sqp.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_cjds_X60S_qp'}" target="_blank">·  X60S 全配版</a>
                </dd>
              </dl>
              <dl class="line_r">
                <dt >50吋电视</dt>
                <dd>
                  <a href="/product/x50airysb.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_cjds_X50Air_gl'}" target="_blank">·  X50 Air 张艺谋《归来》艺术版</a>
                </dd>
                <!--<dd>
                <a href="/product/x50airclb.html" webtrekkparam="{ct:''}" target="_blank">·  X50 Air C罗·足球版</a>
              </dd>
              -->
              <dd>
                <a href="/product/x50air.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_cjds_X50Air_qp'}" target="_blank">·  X50 Air 全配版</a>
              </dd>
              <dd>
                <a href="/product/s50airclb.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_cjds_S50Air_Cl'}" target="_blank">·  S50 Air C罗·足球版</a>
              </dd>
              <dd>
                <a href="/product/s50airqpb.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_cjds_S50Air_qp'}" target="_blank">·  S50 Air 全配版</a>
              </dd>
              <!--<dd>
              <a href="/zt/cp2c_2.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_cjds_X50Air_DIY'}" target="_blank">·  DIY X50 Air</a>
            </dd>
            -->
          </dl>
          <dl >
            <dt >40吋电视</dt>
            <dd>
              <a href="/product/s40airlxsd.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_cjds_S40AirL_xsd'}" target="_blank">·  S40 Air L 郭敬明·小时代版</a>
            </dd>
            <dd>
              <a href="/product/s40airl.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_cjds_S40AirL_qp'}" target="_blank">·  S40 Air L 全配版</a>
            </dd>
            <!--<dd>
            <a href="/product/s40airxsd.html" webtrekkparam="{ct:''}" target="_blank">·  S40 Air 郭敬明·小时代版</a>
          </dd>
          <dd>
            <a href="/product/s40airqpb.html" webtrekkparam="{ct:''}" target="_blank">·  S40 Air 全配版</a>
          </dd>
          -->
        </dl>
      </li>
      <li class="product_show clearfix tab_detail" id="p02">
        <dl>
          <dd>
            <a href="/product/New_C1S.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_lshz_NewC1S'}" target="_blank">·  New C1S</a>
          </dd>
        </dl>
        <dl>
          <dd>
            <a href="/product/box.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_lshz_C1S'}" target="_blank">·  C1S</a>
          </dd>
        </dl>
      </li>
      <li class="product_show clearfix tab_detail" id="p03">
        <dl>
          <dd>
            <a href="/product/lexiaobao.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_LeMe_lxb'}" target="_blank">·  乐小宝</a>
          </dd>
        </dl>
        <dl>
          <dd>
            <a href="/product/lemexl.html" webtrekkparam="{ct:'xbsy_dh2_qbsp_LeMe_lyej'}" target="_blank">·  蓝牙耳机</a>
          </dd>
        </dl>
      </li>
      <li class="product_show clearfix tab_detail" id="p04">
        <dl class="line_r">
          <dt>
            <a href="/product/parts.html?t=7" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_yyyl'}" target="_blank">影音娱乐</a>
          </dt>
          <dd>
            <a href="/product/parts.html?t=7&z=39" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_yyyl_ej'}" target="_blank">·  耳机/耳麦</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=7&z=40" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_yyyl_Kg'}" target="_blank">·  家庭K歌</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=7&z=43" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_yyyl_yx'}" target="_blank">·  音箱/音响</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=7&z=44" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_yyyl_yxsb'}" target="_blank">·  游戏设备</a>
          </dd>
        </dl>
        <dl class="line_r">
          <dt>
            <a href="/product/parts.html?t=34" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_wssp'}" target="_blank">外设商品</a>
          </dt>
          <dd>
            <a href="/product/parts.html?t=34&z=35" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_wssp_js'}" target="_blank">·  键鼠</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=34&z=36" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_wssp_ccsb'}" target="_blank">·  存储设备</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=34&z=37" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_wssp_xl'}" target="_blank">·  线缆</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=34&z=38" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_wssp_cz'}" target="_blank">·  插座</a>
          </dd>
        </dl>
        <dl class="line_r">
          <dt>
            <a href="/product/parts.html?t=29" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_dspj'}" target="_blank">电视配件</a>
          </dt>
          <dd>
            <a href="/product/parts.html?t=29&z=30" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_dspj_cksb'}" target="_blank">·  操控设备</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=29&z=31" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_dspj_dsdz'}" target="_blank">·  电视底座</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=29&z=32" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_dspj_dsgj'}" target="_blank">·  电视挂架</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=29&z=33" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_dspj_dszj'}" target="_blank">·  电视支架</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=29&z=50" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_dspj_sxt'}" target="_blank">·  摄像头</a>
          </dd>
          <dd>
            <a href="/product/parts.html?t=29&z=51" webtrekkparam="{ct:'xbsy_dh2_qbsp_pj_dspj_3Dyj'}" target="_blank">·  3D眼镜</a>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
<div id="allTV" class="all_tv absolute ">
  <ul class="product_list product_tabs">
    <li>
      <a href="/product/max70.html" webtrekkparam="{ct:'xbsy_dh2_cjds_Max70'}">
        <img  alt="Max70"  src="__PUBLIC__/images/Picture/cdd1bc0626544f6f942d3b2878367cd0.gif" style=""/>
        <br />
        Max70
      </a>
    </li>
    <li>
      <a href="/product/x60s.html" webtrekkparam="{ct:'xbsy_dh2_cjds_X60S'}">
        <img  alt="X60S"  src="__PUBLIC__/images/Picture/4eb5597981f5410fb671b3e0795bdcb0.gif" style=""/>
        <br />
        X60S
      </a>
    </li>
    <li>
      <a href="/product/x50airysb.html" webtrekkparam="{ct:'xbsy_dh2_cjds_X50Air'}">
        <img  alt="4K X50 Air"  src="__PUBLIC__/images/Picture/94cf8f12cc094b109da924786c620788.gif" style=""/>
        <br />
        4K X50 Air
      </a>
    </li>
    <li>
      <a href="/product/s50airclb.html" webtrekkparam="{ct:'xbsy_dh2_cjds_S50Air'}">
        <img  alt="S50 Air"  src="__PUBLIC__/images/Picture/4da033f9c81a47609af86a4e7ff052ab.gif" style=""/>
        <br />
        S50 Air
      </a>
    </li>
    <!--<li>
    <a href="/product/s40airqpb.html" webtrekkparam="{ct:''}">
      <img  alt="S40 Air"  src="__PUBLIC__/images/Picture/540006ee9c7b42daa4bedd979f5f6bde.gif" style=""/>
      <br />
      S40 Air
    </a>
  </li>
  -->
  <li>
    <a href="/product/s40airlxsd.html" webtrekkparam="{ct:'xbsy_dh2_cjds_S40AirL'}">
      <img  alt="S40 Air L"  src="__PUBLIC__/images/Picture/2bc6ad97bb55461c8c4fdafd42d1d409.gif" style=""/>
      <br />
      S40 Air L
    </a>
  </li>
</ul>
<div class="tab_detail_box clearfix hidden">
  <ul>
    <li class="product_show tab_detail" id="t01">
      <div class="pb20 pt25 pl100 pr100">
        <div class="pro_text pl20 left " style="width:430px;">
          <div class="pb20 pt20">
            <a href="/product/max70.html" webtrekkparam="{ct:''}">
              <img  alt="Max70"  src="__PUBLIC__/images/Picture/e515e4941f594190a77a17a36cc4f772.gif" style=""/>
            </a>
          </div>
          <div class="gray font14 pb20">
            乐视TV·超级电视Max70，你的私家智能影院，双倍性能，1/3价格。
                    采用70吋原装进口SDP面板，十代线UV2A技术，不闪式3D，画质纯净自然。
                    高通四核1.7GHz处理器，由富士康精心打造的精湛工艺。
                    乐视网TV版，享受全网络视频，LetvUI 3.0最好用的智能电视UI系统。
                    LetvStore拥有最全的应用、视频、游戏。
          </div>
          <a href="/product/max70.html" webtrekkparam="{ct:'xbsy_dh2_cjds_Max70_ckgd'}" class="block red_bt_m">
            <span class="white">查看更多</span>
          </a>
        </div>
        <div class="right pro_pic pr20 t_l" style="width:400px；">
          <a href="/product/max70.html" webtrekkparam="{ct:'xbsy_dh2_cjds_Max70_TP'}">
            <img  alt=""  src="__PUBLIC__/images/Picture/fc0c47e0a0964f59a41074e59789794a.gif" style=""/>
          </a>
        </div>
        <div clsdd="clear"></div>
      </div>
    </li>
    <li class="product_show tab_detail" id="t02">
      <div class="pb20 pl35 pr35">
        <div class="pb20 t_c pt30">
          <img  alt="X60S"  src="__PUBLIC__/images/Picture/498d349be1ef4bdb88b62f0e876b4ed8.gif" style=""/>
        </div>
        <div class="inline_block pr10" style="width:540px;">
          <div class="left pro_pic">
            <a href="/product/x60s.html" webtrekkparam="{ct:'xbsy_dh2_cjds_X60S_gsd_TP'}">
              <img  alt="敢死队·硬汉版"  src="__PUBLIC__/images/Picture/3d55f8e1954a4837aa0c5915e806f574.gif" style=""/>
            </a>
          </div>
          <div class="pro_text left pl20">
            <div class=" pb20">
              <a href="/product/x60s.html" webtrekkparam="{ct:''}">
                <span class="dark font18 block pb10">敢死队·硬汉版</span>
              </a>
              <span class="gray font12">
                ·  60吋液晶面板；1.7GHz高通四核处理器；
                <br />
                ·  2GB内存，32GB闪存；2.4G&5G双频Wi-Fi；
                <br />
                ·  蓝牙4.0，专属证书、彩色包装；
                <br />
              </span>
            </div>
            <a href="/product/x60s.html" class="block red_bt_m" webtrekkparam="{ct:'xbsy_dh2_cjds_X60S_gsd_ckgd'}">
              <span class="white">查看更多</span>
            </a>
          </div>
        </div>
        <div class="inline_block pl10" style="width:540px;">
          <div class="left pro_pic">
            <a href="/product/x60sqp.html" webtrekkparam="{ct:'xbsy_dh2_cjds_X60S_qp_TP'}">
              <img  alt="全配版"  src="__PUBLIC__/images/Picture/ead5dcb266ac4425bd2845e0f9d58a73.gif" style=""/>
            </a>
          </div>
          <div class="pro_text left pl20">
            <div class=" pb20">
              <a href="/product/x60sqp.html" >
                <span class="dark font18 block pb10">全配版</span>
              </a>
              <span class="gray font12">
                ·  60吋液晶面板，1.7GHz高通四核处理器；
                <br />
                ·  2GB内存，8GB闪存；2.4G&5G双频Wi-Fi；
                <br />
                ·  蓝牙4.0，全铝无缝机身，富士康完美打造；
                <br />
              </span>
            </div>
            <a href="/product/x60sqp.html" class="block red_bt_m" webtrekkparam="{ct:'xbsy_dh2_cjds_X60S_qp_ckgd'}">
              <span class="white">查看更多</span>
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="product_show tab_detail" id="t03">
      <div class="pb20 pl35 pr35">
        <div class="pb20 t_c pt30">
          <img  alt="X50 Air"  src="__PUBLIC__/images/Picture/814c5e99f7214feca4c21656a205db45.gif" style=""/>
        </div>
        <div class="inline_block pr10" style="width:540px;">
          <div class="left pro_pic">
            <a href="/product/x50airysb.html" webtrekkparam="{ct:'xbsy_dh2_cjds_X50Air_gl_TP'}">
              <img  alt="张艺谋《归来》艺术版"  src="__PUBLIC__/images/Picture/1667cd75cea4423b8bf9467d9b1665af.gif" style=""/>
            </a>
          </div>
          <div class="pro_text left pl20">
            <div class=" pb20">
              <a href="/product/x50airysb.html" webtrekkparam="{ct:''}">
                <span class="dark font18 block pb10">张艺谋《归来》艺术版</span>
              </a>
              <span class="gray font12">
                ·  InnoLux液晶面板/4000:1对比度；
                <br />
                ·  2G 内存/16G闪存/内置蓝牙4.0/快门式3D；
                <br />
                ·  Mstar6A918四核CPU/Mali450四核GPU；
                <br />
              </span>
            </div>
            <a href="/product/x50airysb.html" class="block red_bt_m" webtrekkparam="{ct:'xbsy_dh2_cjds_X50Air_gl_ckgd'}">
              <span class="white">查看更多</span>
            </a>
          </div>
        </div>
        <div class="inline_block pl10" style="width:540px;">
          <div class="left pro_pic">
            <a href="/product/x50air.html" webtrekkparam="{ct:'xbsy_dh2_cjds_X50Air_qp_TP'}">
              <img  alt="全配版"  src="__PUBLIC__/images/Picture/293f66fc2126412d9dc9e02417d87a09.gif" style=""/>
            </a>
          </div>
          <div class="pro_text left pl20">
            <div class=" pb20">
              <a href="/product/x50air.html" webtrekkparam="{ct:''}">
                <span class="dark font18 block pb10">全配版</span>
              </a>
              <span class="gray font12">
                ·  InnoLux液晶面板 快门式3D；
                <br />
                ·  第三代魔音系统  2G 内存/8G闪存；
                <br />
                ·  Mstar6A918四核CPU/Mali450四核GPU；
                <br />
              </span>
            </div>
            <a href="/product/x50air.html" class="block red_bt_m" webtrekkparam="{ct:'xbsy_dh2_cjds_X50Air_qp_ckgd'}">
              <span class="white">查看更多</span>
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="product_show tab_detail" id="t04">
      <div class="pb20 pl35 pr35">
        <div class="pb20 t_c pt30">
          <img  alt="S50 Air"  src="__PUBLIC__/images/Picture/caac2b0d6053459ca0bb34a6439ea403.gif" style=""/>
        </div>
        <div class="inline_block pr10" style="width:540px;">
          <div class="left pro_pic">
            <a href="/product/s50airclb.html" webtrekkparam="{ct:'xbsy_dh2_cjds_S50Air_Cl_TP'}">
              <img  alt="C罗·足球版"  src="__PUBLIC__/images/Picture/e980f6d699c3420fba5aee18d0bc94bb.gif" style=""/>
            </a>
          </div>
          <div class="pro_text left pl20 ply">
            <div class=" pb20">
              <a href="/product/s50airclb.html" webtrekkparam="{ct:''}">
                <span class="dark font18 block pb10">C罗·足球版</span>
              </a>
              <span class="gray font12">
                ·  50吋LG/InnouLux FHD面板
                <br />
                ·  2G内存/16G 闪存/5.9mm金属极窄边框
                <br />
                ·  蓝牙4.0/20W独立低音炮/体感操控
                <br />
              </span>
            </div>
            <a href="/product/s50airclb.html" class="block red_bt_m" webtrekkparam="{ct:'xbsy_dh2_cjds_S50Air_Cl_ckgd'}">
              <span class="white">查看更多</span>
            </a>
          </div>
        </div>
        <div class="inline_block pl10"  style="width:540px;">
          <div class="left pro_pic">
            <a href="/product/s50airqpb.html" webtrekkparam="{ct:'xbsy_dh2_cjds_S50Air_qp_TP'}">
              <img  alt="全配版"  src="__PUBLIC__/images/Picture/545572599caa458e8e0368e6d88247a2.gif" style=""/>
            </a>
          </div>
          <div class="pro_text left pl20 ply">
            <div class=" pb20">
              <a href="/product/s50airqpb.html" webtrekkparam="{ct:''}">
                <span class="dark font18 block pb10">全配版</span>
              </a>
              <span class="gray font12">
                ·  50吋LG/InnouLux FHD面板
                <br />
                ·  2G内存/8G闪存/6.9mm 极窄塑胶边框
                <br />
                ·  4核CPU+4核GPU/体感操控
                <br />
              </span>
            </div>
            <a href="/product/s50airqpb.html" class="block red_bt_m" webtrekkparam="{ct:'xbsy_dh2_cjds_S50Air_qp_ckgd'}">
              <span class="white">查看更多</span>
            </a>
          </div>
        </div>
      </div>
    </li>
    <!--<li class="product_show tab_detail" id="t05">
    <div class="pb20 pl35 pr35">
      <div class="pb20 t_c pt30">
        <img  alt="S40 Air"  src="__PUBLIC__/images/Picture/8ab4a39da5f5452f9d3850c75bc780b8.gif" style=""/>
      </div>
      <div class="inline_block pr10" style="width:540px;">
        <div class="left pro_pic">
          <a href="/product/s40airxsd.html" >
            <img alt="郭敬明·小时代版" src="__PUBLIC__/images/Picture/bff0a38d8d7749e68cd1eb1743d08bb4.gif" style=""></a>
        </div>
        <div class="pro_text left pl20 ply">
          <div class=" pb20">
            <a href="/product/s40airxsd.html" >
              <span class="dark font18 block pb10">郭敬明·小时代版</span>
            </a>
            <span class="gray font12">
              ·  39.5吋 InnoLux  FHD面板/5000:1对比度
              <br />
              ·  2G内存/16G 闪存/蓝牙4.0/USB3.0/
              <br />
              ·  5.9mm 金属纤薄机身/透明背板
              <br />
            </span>
          </div>
          <a href="/product/s40airxsd.html" class="block red_bt_m">
            <span class="white">查看更多</span>
          </a>
        </div>
      </div>
      <div class="inline_block pl10" style="width:540px;">
        <div class="left pro_pic">
          <a href="/product/s40airqpb.html">
            <img alt="全配版" src="__PUBLIC__/images/Picture/08d46031426a47dbb9a58c7dfbb0326e.gif" style=""></a>
        </div>
        <div class="pro_text left pl20 ply">
          <div class=" pb20">
            <a href="/product/s40airqpb.html">
              <span class="dark font18 block pb10">全配版</span>
            </a>
            <span class="gray font12">
              ·  39.5吋 InnoLux  FHD面板/5000:1对比度
              <br />
              ·  4核CPU+4核GPU/2G内存/8G闪存
              <br />
              ·  透明背板/USB3.0
              <br />
            </span>
          </div>
          <a href="/product/s40airqpb.html" class="block red_bt_m">
            <span class="white">查看更多</span>
          </a>
        </div>
      </div>
    </div>
  </li>
  -->
  <li class="product_show tab_detail" id="t06">
    <div class="pb20 pl35 pr35">
      <div class="pb20 t_c pt30">
        <img alt="S40 Air L" src="__PUBLIC__/images/Picture/6a0b660df2f949489fac2ae478f933b6.gif" style=""></div>
      <div class="inline_block pr5" style="width:545px;">
        <div class="left pro_pic">
          <a href="/product/s40airlxsd.html" webtrekkparam="{ct:'xbsy_dh2_cjds_S40AirL_xsd_TP'}">
            <img  alt="郭敬明·小时代版"  src="__PUBLIC__/images/Picture/fb75289537604f17a69af80347adc241.gif" style=""/>
          </a>
        </div>
        <div class="pro_text left pl20">
          <div class=" pb5">
            <a href="/product/s40airlxsd.html" webtrekkparam="{ct:''}">
              <span class="dark font18 block pb10">郭敬明·小时代版</span>
            </a>
            <span class="gray font12">
              ·  SAMSUNG原装进口40吋高清LED屏幕
              <br>
              ·  5000:1对比度，1.5GHz4核CPU， 4核GPU。
              <br>
              ·  2G内存，16 G闪存。蓝牙4.0，
              <br>
              ·  内置wifi，双收双发双天线。
              <br></span>
          </div>
          <a href="/product/s40airlxsd.html" class="block red_bt_m" webtrekkparam="{ct:'xbsy_dh2_cjds_S40AirL_xsd_ckgd'}">
            <span class="white">查看更多</span>
          </a>
        </div>
      </div>
      <div class="inline_block pl5" style="width:570px;">
        <div class="left pro_pic">
          <a href="/product/s40airl.html" webtrekkparam="{ct:'xbsy_dh2_cjds_S40AirL_qp_TP'}">
            <img  alt="全配版"  src="__PUBLIC__/images/Picture/ae55b6e9d24443e48f0eb864a7ecf37f.gif" style=""/>
          </a>
        </div>
        <div class="pro_text left pl20 ply">
          <div class=" pb5">
            <a href="/product/s40airl.html" webtrekkparam="{ct:''}">
              <span class="dark font18 block pb10">全配版</span>
            </a>
            <span class="gray font12">
              ·  SAMSUNG原装进口40吋高清LED屏幕
              <br>
              ·  1920*1080高分辨率，
              <br>
              ·  1.5GHz4核CPU， 4核GPU。2G内存，8 G闪存。
              <br>
              ·  内置wifi，双收双发双天线。
              <br></span>
          </div>
          <a href="/product/s40airl.html" class="block red_bt_m" webtrekkparam="{ct:'xbsy_dh2_cjds_S40AirL_qp_ckgd'}">
            <span class="white">查看更多</span>
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
</div>
<div id="allLeMe" class="all_leme absolute ">
<ul class="product_list product_tabs">
<li>
  <a href="/product/lexiaobao.html" webtrekkparam="{ct:'xbsy_dh2_LeMe_lxb'}">
    <img  alt="乐小宝"  src="__PUBLIC__/images/Picture/4bf082f3ae814f97b5be756781b91a5d.gif" style=""/>
    <br />
    乐小宝
  </a>
</li>
<li>
  <a href="/product/lemexl.html" webtrekkparam="{ct:'xbsy_dh2_LeMe_lyej'}">
    <img  alt="蓝牙耳机"  src="__PUBLIC__/images/Picture/504608a2dae94e28bf23097f4bf59f93.gif" style=""/>
    <br />
    蓝牙耳机
  </a>
</li>

</ul>
<div class="tab_detail_box clearfix hidden">
<ul>
  <li class="product_show tab_detail" id="t01">
    <div class="pb20 pt25 pl100 pr100">
      <div class="pro_text pl20 left " style="width:430px;">
        <div class="pb20 pt20">
          <a href="/product/lexiaobao.html" webtrekkparam="{ct:''}">
            <img  alt="乐小宝"  src="__PUBLIC__/images/Picture/29f6ff2ffa494e9491cf4469c16416c2.gif" style=""/>
          </a>
        </div>
        <div class="gray font14 pb20">
          乐小宝是一款儿童故事光机，能够让父母给家里的孩子讲故事、进行语音对讲、推送乐视亲子的视频，并拥有一支完整的专家团队对内容进行整理推荐，还不伤害孩子的眼睛。帮助父母与孩子回归真正的交流，是全球首款真正的智能亲子硬件。
        </div>
        <a href="/product/lexiaobao.html" webtrekkparam="{ct:'xbsy_dh2_LeMe_lxb_ckgd'}" class="block red_bt_m">
          <span class="white">查看更多</span>
        </a>
      </div>
      <div class="right pro_pic pr20 t_l" style="width:400px；">
        <a href="/product/lexiaobao.html" webtrekkparam="{ct:'xbsy_dh2_LeMe_lxb_pic'}">
          <img  alt=""  src="__PUBLIC__/images/Picture/29c673b0e4eb4e77b2179242a8630743.gif" style=""/>
        </a>
      </div>
      <div clsdd="clear"></div>
    </div>
  </li>
  <li class="product_show tab_detail" id="t02">
    <div class="pb20 pt25 pl100 pr100">
      <div class="pro_text pl20 left " style="width:430px;">
        <div class="pb20 pt20">
          <a href="/product/lemexl.html" webtrekkparam="{ct:''}">
            <img  alt="蓝牙耳机"  src="__PUBLIC__/images/Picture/cb72ea0276dc43fa9cb50d5da7df2f15.gif" style=""/>
          </a>
        </div>
        <div class="gray font14 pb20">
          头带最舒适的“神兽级”蓝牙耳机，能让你深夜看球、玩游戏不打扰家人；与手机连接，降噪技术让通话更清晰；40mm大动圈单元，开放式音腔，音质更出色；更支持26天超长待机。
        </div>
        <a href="/product/lemexl.html" webtrekkparam="{ct:'xbsy_dh2_LeMe_lyej_ckgd'}" class="block red_bt_m">
          <span class="white">查看更多</span>
        </a>
      </div>
      <div class="right pro_pic pr20 t_l" style="width:400px；">
        <a href="/product/lemexl.html" webtrekkparam="{ct:'xbsy_dh2_LeMe_lyej_pic'}">
          <img  alt=""  src="__PUBLIC__/images/Picture/bcd9548aabe94a8c808b2484e23817ae.gif" style=""/>
        </a>
      </div>
      <div clsdd="clear"></div>
    </div>
  </li>

</ul>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
    var timeOutList = {};
    $(document).ready(function () {
        $.each($(".show_hide_block"), function () {
            showHideBlock(this, $(this).attr("object"), $(this).attr("type"), $(this).attr("buffer"), $(this).attr("speed"), $(this).attr("effect"))
        });
        $.each($(".show_children"), function () {
            showChildren(this, $(this).attr("buffer"), $(this).attr("speed"))
        });
        $.each($('[status="toggle"]'), function () {
            $($(this).attr("object")).hide()
        })
    });
    function showHideBlock(a, b, g, d, f, c, h, i) {
        var e = null;
        "undefined" == typeof c && (c = "");
        e = "slide" == g ? ["slideDown", "slideUp"] : "fade" == g ? ["fadeIn", "fadeOut"] : ["show", "hide"];
        i = i || 0;
        $(a).unbind("mouseenter").mouseenter(function () {
            clearTimeout(timeOutList[b]);
            timeOutList[a] = setTimeout(function(){
                $(a).addClass(c);
                $(a).siblings().removeClass(c);
                $(b)[e[0]](f, function () {
                    $(this).css("overflow", "visible")
                });
            }, i);
        });
        $(b).unbind("mouseenter").mouseenter(function () {
            $(a).addClass(c);
            clearTimeout(timeOutList[b]);
        });
        $(b).unbind("mouseleave").mouseleave(function () {
            timeOutList[b] = setTimeout(function () {
                $(b)[e[1]](f, function () {
                    $(a).removeClass(c);
                    !!h ? h() : null;
                });
            }, d || 1E3);
        });
        $(a).unbind("mouseleave").mouseleave(function () {
            clearTimeout(timeOutList[a], i);
            timeOutList[b] = setTimeout(function () {
                $(b)[e[1]](f, function () {
                    $(a).removeClass(c);
                    !!h ? h() : null;
                });
            }, d || 1E3);
        })
    }
    function showChildren(a, b) {
        $(a).mouseenter(function () {
            clearTimeout(timeOutList[$(this).text()]);
            $("ul", $(this)).show();
            $(this).siblings().find("ul").hide()
        });
        $(a).unbind("mouseleave").mouseleave(function () {
            var a = $(this).text(), d = this;
            clearTimeout(timeOutList[a]);
            timeOutList[a] = setTimeout(function () {
                $("ul", d).hide()
            }, b || 1E3)
        })
    }
    $(function () {
        try {
            $("img.lz").lazyload({data_attribute: "url", skip_invisible: !1, threshold: 10});
        } catch (e) {
        }
        ;
//        refreshHeader()
    });
   /* function refreshHeader() {
        if (Js.login.getAuth()) {
            var a = getCookie("COOKIE_NICKNAME"), a = 10 < a.length ? a.substring(0, 10) + "..." : a;
            $("#loginMess").html('<span class="gray">Hi,</span><a rel="nofollow" href="' + _hrefPath + '/user/center/orderList.html" target="_blank" title="' + getCookie("COOKIE_NICKNAME") + '"><span class="pl5 pr5">' + a + '</span></a> <a rel="nofollow" id="logout"><span class="pl5 pr15">[退出]</span></a>');
            $("#logout").click(function () {
                Js.login.logout(function () {
                    window.location.href = "/"
                })
            })
        } else $("#login").click(function () {
            Js.login.hasLogin(function () {
                location.reload()
            })
        })
    }
    ;*/
</script>
<script type="text/javascript">
    function SlideTabs(opt){
        this.opt = $.extend({}, this.oriOpt, opt); //合并默认参数与传递参数
        this.container = $("#" +this.opt.id); //最外层容器
        this.curTabIndex = 1; //当前标签
        this.isAnimating = false; //是否有动画方法正在进行中
        this.tabList = this.container.find("ul.product_tabs li"); //标签列表
        this.tabDetails = this.container.find(".tab_detail"); //标签详情列表
        this.init();
    }

    SlideTabs.prototype = {
        oriOpt : {

        },
        /**
         * 初始化方法
         */
        init : function(){
            var tabfocus = this.slideTab();
            //初始化所有标签和详情的下标
            for(var i = 0; i < this.tabList.length; i ++){
                var tab = $(this.tabList[i]), detail = $(this.tabDetails[i]);

                tab.attr("tab_index", i);
                detail.attr("detail_index", i);
            }
            //标签附上鼠标移入时间
            this.tabList.mouseenter(tabfocus);
        },
        /**
         * 根据鼠标指向移动
         */
        slideTab : function(){
            var _this = this;
            return function(){
                var prevTabWidth = 0, prevTabs;

                $(this).siblings().removeClass("hover");
                $(this).addClass("hover");

                //改变当前标签下标
                _this.curTabIndex = $(this).attr("tab_index");
                prevTabs = _this.container.find(".tab_detail[detail_index=" + _this.curTabIndex + "]").prevAll();

                for(var i = 0; i < prevTabs.length; i ++){
                    prevTabWidth += $(prevTabs[i]).outerWidth();
                }

                if(_this.container.find(".tab_detail_box").css('display') == 'none'){
                    _this.container.find(".tab_detail_box").fadeIn();
                    _this.container.find(".tab_detail_box ul").css('margin-left', - prevTabWidth + "px");
                    return;
                }

                _this.container.find(".tab_detail_box ul").clearQueue().animate({'margin-left' : - prevTabWidth + "px"}, 600);
            }
        },
        hideDetail : function(){
            this.container.find(".tab_detail_box").hide();
            this.container.find("ul.product_tabs li").removeClass("hover");
        }
    }

    $(document).ready(function(){
        var allProduct = new SlideTabs({id : "allProduct"});
        showHideBlock("#allProductTab", "#allProduct", "fade", 100, "fast", "hover", function(){
            allProduct.hideDetail();
        }, 200);

        var allTV = new SlideTabs({id : "allTV"});
        showHideBlock("#allTVTab", "#allTV", "fade", 100, "fast", "hover", function(){
            allTV.hideDetail();
        }, 200);
        
        var allLeMe = new SlideTabs({id : "allLeMe"});
        showHideBlock("#allLeMeTab", "#allLeMe", "fade", 100, "fast", "hover", function(){
            allLeMe.hideDetail();
        }, 200);
        // showProductNumInCart();
    });

    function showProductNumInCart(){
        $("#productNumInCart").hide();
        var arrivalId = getCookie("COOKIE_SELECT_PROVINCE_ID") || 1;

        Js.sendData(sendLink.cart + "api/web/query/viewCart.jsonp","cartType=0&TO_PAY=0&arrivalId="+arrivalId,function(data){
            if (data.status == "1") {
                if(data.result && data.result[0] && data.result[0].itemCount){
                    $("#productNumInCart").html(data.result[0].itemCount).show();
                }
            }
        });
    }
</script>


<div class="main_body center">
<!--右侧栏区part -->
<div class="maincontent pt10 pb10">
<div class="tab01 font14">
<a class="yjfk " href="/help/kffeedback.html" target="_blank">意见反馈>></a>
<ul class="tabs">
<li  id="01"  class="curr" >
<span class=" hand" >自助服务</span>
</li>
<li   id="02" >
<span class=" hand" >联系客服</span>
</li>
<li  id="03" >
<span class=" hand" >帮助分类</span>
</li>
<li  id="04"  >
<span class=" hand" >乐迷学堂</span>
</li>
</ul>
</div>
<div class="zysever bd "  id="c01">
<div class="">
<ul>
<foreach name="helpInfo" item="vo" >
   <li>
  <a target="_blank" href="{$vo['url']}"  webtrekkparam="{ ct:'HELP_zzfw1' }"> <img src="__PUBLIC__/Uploads/{$vo['img']}" alt="">
    <br/>
    {$vo['title']}
  </a>
</li>
</foreach>
</ul>
</div>
</div>
<div class="zysever hidden bd" id="c03">
<div class="pt30 pb30 pl30 pr30 ">
<dl>
<dt>· 新手入门</dt>
<dd>
  <a target="_blank" href="/help/xsrm/zczh.html">注册与登录</a>
  <span>|</span>
  <a target="_blank" href="/help/zczh/dlzh.html">账户安全</a>
  <span>|</span>
  <a target="_blank" href="/help/xsrm/zhmm.html">如何找回密码</a>
  <span>|</span>
  <!--<a target="_blank" href="/help/gwlc.html">购物指南</a>
<span>|</span>
-->
<a target="_blank" href="/help/lema_faq.html">乐码FAQ</a>
</dd>
</dl>
<dl>
<dt>· 订单服务</dt>
<dd>
<a target="_blank" href="/help/zxzf.html">网上支付</a>
<span>|</span>
<a target="_blank" href="/help/ddfw/tksm.html">退款说明</a>
<span>|</span>
<a target="_blank" href="/help/fpzd.html">发票制度</a>
</dd>
</dl>
<dl>
<dt>· 物流服务</dt>
<dd>
<a target="_blank" href="/help/wlps/cjdsps.html">配送范围查询</a>
<span>|</span>
<!--<a target="_blank" href="/help/psfwcx.html">超级电视配送范围查询</a>
<span>|</span>
-->
<a target="_blank" href="/help/wlps/ddps.html">配送费收取标准</a>
<span>|</span>
<a target="_blank" href="/help/yhqs.html">自提与签收注意事项</a>
<span>|</span>
<a target="_blank" href="/help/pswt/cjds.html">配送常见问题</a>

</dd>
</dl>
<dl>
<dt>· 售后服务</dt>
<dd>
<!--<a target="_blank" href="/help/gwts.html">购物提示</a>
<span>|</span>
-->
<a target="_blank" href="/help/fwzc/gyaz.html" webtrekkparam="{ct:'Help_fwzc_tab1'}">
关于安装
<span>|</span>
</a>
<!--<a target="_blank" href="/help/fwzc/gjsb.html" webtrekkparam="{ct:'Help_fwzc_tab2'}">国家三包政策</a>
-->
<a target="_blank" href="/help/bxzc/cjds.html" webtrekkparam="{ct:'Help_fwzc_tab3'}">
售后服务政策
<span>|</span>
</a>
<!--<a target="_blank" href="/help/bxzc/lshz.html" webtrekkparam="{ct:'Help_fwzc_tab4'}">配件、盒子三包政策</a>
-->
<!--<a target="_blank" href="/help/thhzc/cjds.html" webtrekkparam="{ct:'Help_fwzc_tab5'}">超级电视售后说明</a>
-->
<!--<a target="_blank" href="/help/thhzc/lshz.html" webtrekkparam="{ct:'Help_fwzc_tab6'}">配件、盒子售后说明</a>
-->
<a target="_blank" href="#" webtrekkparam="{ct:'Help_fwzc_tab7'}">
线下服务中心
<span>|</span>
</a>
<a target="_blank" href="#" webtrekkparam="{ct:'Help_fwzc_tab8'}">
售后服务公示
<span>|</span>
</a>
<a target="_blank" href="#" webtrekkparam="{ct:'Help_fwzc_tab9'}">
线下体验厅
<span>|</span>
</a>
<a target="_blank" href="#" webtrekkparam="{ct:'Help_fwzc_tab10'}">TV版服务续费教程</a>
</dd>
</dl>
<dl>
<dt>· 下载中心</dt>
<dd>
<a target="_blank" href="#">超级电视固件下载</a>
<!--<a target="_blank" href="/help/gjxz.html">乐视盒子固件下载</a>
-->
</dd>
</dl>
<dl>
<dt>· 产品FAQ</dt>
<dd>
<a target="_blank" href="#">乐视网TV版</a>
<span>|</span>
<a target="_blank" href="#">乐视盒子</a>
<span>|</span>
<a target="_blank" href="#">超级电视</a>
<span>|</span>
<a target="_blank" href="#">乐迷学堂</a>
</dd>
</dl>
<div class='clear'></div>
</div>
</div>

<div class="newslist hidden bd" id="c04">
<div  class="pt30 pb30 pl30 pr30 ">
<ul>
<li>
<a target="_blank" href="http://bbs.letv.com/thread-130599-1.html">
熟练使用互联网电视 高清、3D大片任你看
<i class="hot"></i>
</a>
</li>
<li>
<a target="_blank" href="http://bbs.letv.com/thread-130599-1.html">
如何使用乐视盒子观看本地视频
<i class="new"></i>
</a>
</li>
<li>
<a target="_blank" href="#">手把手教你用盒子链接WIFI</a>
</li>
<li>
<a target="_blank" href="#">使用截图工具进行抓取 反馈、评测轻松写</a>
</li>
<li>
<a target="_blank" href="#">乐视盒子也能玩win8？是的，你没看错！！！</a>
</li>
<li>
<a target="_blank" href="#">发帖编辑器使用教学 让你的帖子更具有吸引力</a>
</li>
<li>
<a target="_blank" href="#">掌握ADB简单命令 让你使用盒子更方便</a>
</li>
</ul>
<div class="more" style='font-size:14px;'>
<a target="_blank" href="#">去【乐迷学堂】知识库了解更多>></a>
</div>
</div>
</div>

<!--end -->

<div class="wentilist inforlist ">
<div style="border-bottom:1px solid #d5d5d5;margin:0 10px;border-radius: 0px;" class="hd pr20">
<a href="#" class="right pr20 pt5 hidden">更多>></a>
<span class="font18">常见问题</span>
</div>
<div class="pt20 pl50 pr50 pb20" style='zoom:1;'>
<ul>
<li>
<a target="_blank" href="/help/xsrm/zhmm.html">如何找回密码?</a>
</li>
<li>
<a target="_blank" href="/help/ddfw/tksm.html">退款说明</a>
</li>
<li>
<a target="_blank" href="/help/fpzd.html">开增值税发票需提供什么资料？</a>
</li>
<li>
<a target="_blank" href="/help/fpzd.html">换开发票</a>
</li>
<li>
<a target="_blank" href="/help/psfwcx.html">超级电视配送范围查询</a>
</li>
<li>
<a target="_blank" href="/help/wlps/cjdsps.html">超级电视安装说明</a>
</li>
<li>
<a target="_blank" href="/help/pswt/cjds.html">购买超级电视后何时可以配送？</a>
</li>
<li>
<a target="_blank" href="/help/bxzc/cjds.html">退换机政策</a>
</li>
<li>
<a target="_blank" href="/help/bxzc/cjds.html">保修政策</a>
</li>
<li>
<a target="_blank" href="/help/bxzc/cjds.html">安装政策</a>
</li>
<li>
<a target="_blank" href="/help/xxtyt.html">线下体验厅</a>
</li>
<li>
<a target="_blank" href="/help/fwwd.html">线下服务中心</a>
</li>
</ul>
<div class="clear"></div>
</div>
</div>
</div>
</block>
<!--主内容区part -->
<div class="clear"></div>
</div>

<script  type="text/javascript">
    $(function(){
        $(".tabs").find("li").bind("click",function(){
                var id=$(this).attr("id");
                $(".tabs").find("li").removeClass("curr");
                $(this).addClass("curr");
                
            $(".bd").hide();
            $("#c"+id).show();
        });
        
        //绷定事件
        $(".zzfw").live("click",function(){
            var url = $(this).attr("url");
            Js.login.hasLogin(function(){
                window.location.href=url;
                window.event.returnValue = false;
            }); 
        });                         
    }); 
</script>

<!--<a href="http://www.sojump.com/jq/3674687.aspx" target="_blank" class="diaocha block"></a>
-->

<!--右侧飘窗-->
<div class="sidebar_float">
<!-- 百度分享 -->
<div class="is_share ie6-hover border hand handle  hidden " object="#bd_share">
<div class="share_show" id="bd_share">
<div class="share_bg absolute bdsharebuttonbox">
<a title="分享到QQ空间" href="javascript:void(0);" class="bds_qzone" data-cmd="qzone"></a>
<a title="分享到新浪微博" href="javascript:void(0);" class="bds_tsina" data-cmd="tsina"></a>
<a title="分享到微信" href="javascript:void(0);" class="bds_weixin" data-cmd="weixin"></a>
<a title="分享到腾讯微博" href="javascript:void(0);" class="bds_tqq" data-cmd="tqq"></a>
<a title="分享到搜狐微博" href="javascript:void(0);" class="bds_tsohu" data-cmd="tsohu"></a>
<a title="分享到人人网" href="javascript:void(0);" class="bds_renren" data-cmd="renren"></a>
<a title="分享到豆瓣网" href="javascript:void(0);" class="bds_douban" data-cmd="douban"></a>
</div>
</div>
</div>
<!-- 有奖调查 -->
<a href="http://www.sojump.com/jq/3881495.aspx" target="_blank">
<div class="is_survey ie6-hover border hand handle  show1 " id="diaocha_div" object="#dc_div">
<!--<div class="top_show" id="dc_div">
<div class="arrow absolute"></div>
<div class="red_bg absolute">有奖调查</div>
</div>
-->
</div>
</a>
<!-- 销量天王 -->
<a href="{:U('index:index')}" target="_blank">
<div class="is_king ie6-hover border hand handle  show2 " id="king_div" object="#tw_div">
<!--<div class="top_show" id="tw_div">
<div class="arrow absolute"></div>
<div class="red_bg absolute">销量天王</div>
</div>
-->
</div>
</a>
<!-- 下载APP -->
<div class="is_app ie6-hover border hand handle  show3 " id="app_div" object="#xz_div">
<div class="app_show" id="xz_div">
<div class="app_bg border absolute">
<p class="pt5 pb5">手机下单更快捷</p>
<p>
<a href="http://shop.letv.com/app/download.html?cps_id=yd_pc_yg_rk_pcfb_0_h" target="_blank">
<img  alt=""  src="__PUBLIC__/images/Picture/ef1c1735afc74eba8cdebd310f456911.gif" style=""/>
</a>
</p>
</div>
</div>
</div>
</div>

<!--返回顶部-->
<div class="top_float ">
<div class="is_top ie6-hover border hand handle" id="backTop" object="#bt_div">
<!--<div class="top_show" id="bt_div">
<div class="arrow absolute"></div>
<div class="red_bg absolute">返回顶部</div>
</div>
-->
</div>
</div>
<block name="footer">
<div class="footer">
<div class="white_bg pt40 pb30">
<div class="center clearfix">
<ul class="icon_list line_b clear">
<li class="zheng">
<span class="font18 dark">正品保障</span>
<br />
所有产品都是原装正品
</li>
<li class="threeday">
<a webtrekkparam="{ct:'xbsy_fwpt_3RNSD'}">
<span class="font18 dark">3日内送达</span>
<br />
<span class="gray">24大核心城市</span>
</a>
</li>
<li class="returns">
<a webtrekkparam="{ct:'xbsy_fwpt_7RWLY'}">
<span class="font18 dark">7天无理由退换货</span>
<br />
<span class="gray">支持7天退货，30天换货</span>
</a>
</li>
<li class="delivery">
<a webtrekkparam="{ct:'xbsy_fwpt_616CSSD'}">
<span class="font18 dark">616城市送达</span>
<br />
<span class="gray">覆盖全国29个省</span>
</a>
</li>
<li class="policy">
<a webtrekkparam="{ct:'xbsy_fwpt_3BZC'}">
<span class="font18 dark">3包政策</span>
<br />
<span class="gray">享受国家质量保障政策</span>
</a>
</li>
</ul>
<div class="help_list  left pt50">
<dl>
<dt>新手入门</dt>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_xsrm_zcydl'}" href="#">
<span class="simsun">></span>
注册与登录
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_xsrm_zhaq'}" href="#" >
<span class="simsun">></span>
账户安全
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_xsrm_zhmm'}" href="#" >
<span class="simsun">></span>
如何找回密码
</a>
</dd>
<!--<dd>
<a webtrekkparam="{ct:'YW_xsrm_tab4'}" href="#" >
<span class="simsun">></span>
购物指南
</a>
</dd>
-->
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_xsrm_lmFAQ'}" href="#" >
<span class="simsun">></span>
乐码FAQ
</a>
</dd>
</dl>
<dl>
<dt>订单服务</dt>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_ddfw_wszf'}" href="#">
<span class="simsun">></span>
网上支付
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_ddfw_tksm'}" href="#" >
<span class="simsun">></span>
退款说明
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_ddfw_fpzd'}" href="#" >
<span class="simsun">></span>
发票制度
</a>
</dd>

</dl>
<dl>
<dt>物流服务</dt>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_psyaz_psaz'}" href="#" >
<span class="simsun">></span>
配送范围查询
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_psyaz_pscx'}" href="#">
<span class="simsun">></span>
配送费收取标准
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_psyaz_yhqs'}" href="#" >
<span class="simsun">></span>
自提与签收注意事项
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_psyaz_cjwt'}" href="#">
<span class="simsun">></span>
配送常见问题
</a>
</dd>
<!--<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_psyaz_yyaz'}" href="#">
<span class="simsun">></span>
预约安装
</a>
</dd>
-->
</dl>
<dl>
<dt>售后服务</dt>
<!--<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_fwyzc_gwts'}" href="#" >
<span class="simsun">></span>
购物提示
</a>
</dd>
-->
<dd>
<a href="#" webtrekkparam="{ct:'Help_fwzc_tab1'}">
<span class="simsun">></span>
关于安装
</a>
</dd>
<!--<dd>
<a href="#" webtrekkparam="{ct:'Help_fwzc_tab2'}">
<span class="simsun">></span>
国家三包政策
</a>
</dd>
-->
<dd>
<a href="#" webtrekkparam="{ct:'Help_fwzc_tab3'}">
<span class="simsun">></span>
售后服务政策
</a>
</dd>
<!--<dd>
<a href="#" webtrekkparam="{ct:'Help_fwzc_tab4'}">
<span class="simsun">></span>
配件、盒子三包政策
</a>
</dd>
-->
<!--<dd>
<a href="#" webtrekkparam="{ct:'Help_fwzc_tab5'}">
<span class="simsun">></span>
超级电视售后说明
</a>
</dd>
-->
<!--<dd>
<a href="#" webtrekkparam="{ct:'Help_fwzc_tab6'}">
<span class="simsun">></span>
配件、盒子售后说明
</a>
</dd>
-->
<dd>
<a href="#" webtrekkparam="{ct:'Help_fwzc_tab7'}">
<span class="simsun">></span>
线下服务中心
</a>
</dd>
<dd>
<a href="#" webtrekkparam="{ct:'Help_fwzc_tab8'}">
<span class="simsun">></span>
售后服务公示
</a>
</dd>
<dd>
<a href="#" webtrekkparam="{ct:'Help_fwzc_tab9'}">
<span class="simsun">></span>
线下体验厅
</a>
</dd>
<dd>
<a href="#" webtrekkparam="{ct:'Help_fwzc_tab10'}">
<span class="simsun">></span>
TV版服务续费教程
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_fwyzc_hyj'}" href="#" >
<span class="simsun">></span>
电视合约机
</a>
</dd>
</dl>
<dl>
<dt>走进乐视TV</dt>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_zjlsTV_gsjs'}"  href="#">
<span class="simsun">></span>
公司介绍
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_zjlsTV_ppsp'}"  href="#" >
<span class="simsun">></span>
品牌视频
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_zjlsTV_share'}"  href="#" >
<span class="simsun">></span>
分享邀请
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_zjlsTV_shhyx'}"  href="#">
<span class="simsun">></span>
社会化营销
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_zjlsTV_lxwm'}"  href="#">
<span class="simsun">></span>
联系我们
</a>
</dd>
<dd>
<a webtrekkparam="{ct:'xbsy_fwpt_zjlsTV_gzwm'}"  href="javascript:void(0)" onclick="javascript:pop('#guanzhuPOP')">
<span class="simsun">></span>
关注我们
</a>
</dd>
</dl>
</div>
<div class="service_online pt50 right">
<dl>
<dt>在线服务</dt>
<dd class="phone400">
<span class="font16 dark">1010-9000</span>
<br />
7*24小时客服电话
<br />
（仅收市话费）
</dd>
<dd class="kf_online">
<a webtrekkparam="{ct:'xbsy_fwpt_ZXFW'}" href="#">
<span class="font16 dark">在线客服</span>
<br />
<span class="gray">服务时段 8:00-20:00</span>
</a>
</dd>
<dd class="UE_center">
<a webtrekkparam="{ct:'xbsy_fwpt_YHTYZX'}" href="#">
<span class="font16 dark">用户体验中心</span>
<br />
<span class="gray">从用户的角度完善购物体验</span>
</a>
</dd>
<dd class="returns_oline">
<a webtrekkparam="{ct:'xbsy_fwpt_ZXTHH'}" href="#">
<span class="font16 dark">在线退换货</span>
</a>
</dd>
</dl>
</div>
<div class="clear"></div>
</div>
</div>
<div class="copyright">
<div class="center">
Copyright © {:C('HTTP_COPY')}
</div>
</div>
</div>

<!--关注我们 弹框-->
<div id="guanzhuPOP" class="hidden" style="width:640px">
<div class="f8_bg title pl10 line_b relative">
<span class="font14 dark">关注我们</span>
<a href="javascript:void(0)" class="absolute" id="wjPop-close">×</a>
</div>
<div class="pl30 pr30 pt20 white_bg careus border">
<div class="pl90 pb30 pt15 line_b sina">
<span class="font16 dark mr15">乐视TV 官方微博</span>
<a href="#" class="inline_block">
<img src="__PUBLIC__/images/Picture/7200f79c65bb409d817e6eecf3b3a3d7.gif" alt="" />
</a>
</div>
<div class="pl90 pb30 pt15 weixin">
<div class="clearfix">
<div class="left pr40 line_r">
<span class="font16 dark">乐视TV 官方微信</span>
<br />
<img src="__PUBLIC__/images/Picture/64c541ee81b04f7fa6903f351f0e25a0.gif" alt="" />
</div>
<div class="left pl40">
<span class="font16 dark">乐视商城 官方微信</span>
<br />
<img src="__PUBLIC__/images/Picture/6ee62666a6e84788ae6e0899d0b76733.gif" alt="" />
</div>
</div>
<div class="mt15 gray font12">打开微信，点击右上角的“魔法棒”，选择“扫一扫”功能，对准下方二维码即可。</div>
</div>
</div>
</div>
</block>
<script type="text/javascript">
//右侧飘窗显示隐藏方法
$.fn.extend({showOrHide:function(){var _this=this;this.each(function(index,elem){var $handle=$(elem);var name=$handle.attr("object");var $content=$(name);var timer=null;$handle.mouseover(function(){show();}).mouseout(function(){hide();});$content.mouseover(function(){show();}).mouseout(function(){hide2();});function show(){clearTimeout(timer);$content.show();}
function hide(){var interval=300;timer=setTimeout(function(){ $content.hide();},interval);}
function hide2(){ $content.hide();}});}});

var is_hidden="1";//返回顶部
var is_share_show="0";//是否分享

$(function(){
    //右侧飘窗显示隐藏
    $(".handle").showOrHide();
    //返回顶部
    if(is_hidden=="1"){
        initBackTop();
    }
    
  $(".ie6-hover").mouseover(function () {
    $(this).addClass("hover");
  });
  
  $(".ie6-hover").mouseout(function () {
    $(this).removeClass("hover");
  });
});

//初始化返回顶部按钮事件
function initBackTop(){
    window.onscroll=function(){
        if(document.body.scrollTop==0?document.documentElement.scrollTop:document.body.scrollTop > 50){
            $("#backTop").show();
        }else{
            $("#backTop").hide();
        }
    }

    $("#backTop").unbind("click").bind("click",function(){
        pageScroll();
    });
}
//鼠标滚动事件  
function pageScroll(){
    window.scrollBy(0,-50);
    scrolldelay = setTimeout('pageScroll()',1);
    var sTop=document.documentElement.scrollTop+document.body.scrollTop;
    if(sTop==0){
        clearTimeout(scrolldelay);
    }
}
</script>

</body>
<!-- 底部系统引用 勿动 -->
<script type='text/javascript' src='__PUBLIC__/js/Scripts/jquery.lazyload.js'></script>
<!--<script type='text/javascript' src='__PUBLIC__/js/Scripts/zxvideo.js'></script>-->
</html>
<!-- 系统引用 勿动 -->