<extend name="User:add"/>
<block name="title">
    <title>操作设备管理</title>
</block>
<block name="con">

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span>操作设备管理 Control_device</span>
        </div>
        <div class="mws-panel-body no-padding">
            <form action="{:U('Store:cd_doadd')}" class="mws-form" method="post" enctype=multipart/form-data>
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        <label class="mws-form-label">设备名称</label>

                        <div class="mws-form-item">
                            <input type="text" class="medium" name="name">
                        </div>
                    </div>
                </div>
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        <label class="mws-form-label">设备图标</label>

                        <div class="mws-form-item medium small">
                            <input type="file" class="medium" name="icon"> 推荐大小25X25px
                        </div>
                    </div>
                </div>
                <div class="mws-button-row">
                    <input type="submit" class="btn btn-primary" value="保存">
                    <input type="reset" class="btn btn-danger" value="重置">
                </div>
            </form>
        </div>
    </div>
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span><i class="icon-table"></i>选项</span>
        </div>
        <div class="mws-panel-body no-padding">
            <table class="mws-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>图标</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <if condition="$name neq '0'">
                    <foreach name="rows" item="vo">
                        <tr>
                            <td>{$vo['id']}</td>
                            <td>{$vo['name']}</td>
                            <td><img width="100px" src="__PUBLIC__/Uploads/{$vo['icon']}"></td>
                            <td><a style="color:#444" href="{:U('Store:cd_edit',array('id'=>$vo['id']))}">修改</a> || <a
                                    style="color:#444" href="{:U('Store:cd_dodel',array('id'=>$vo['id']))}">删除</a></td>
                        </tr>
                    </foreach>
                </if>
                </tbody>
            </table>
        </div>
    </div>

</block>