<!-- 模板替换 -->
<extend name="User:add" />
<!-- 替换模板标题 -->
<block name="title">
<title>库存调节</title>
</block>
<!-- 替换模板内容表单 -->
<block name="con">
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/date/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/date/My97DatePicker/WdatePicker.js"></script>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span>库存调节</span>
    </div>
    <div class="mws-panel-body no-padding">
        <form action="{:U('Amount/insert')}" class="mws-form" method="post" enctype="multipart/form-data">
        <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label class="mws-form-label">商品名称</label>
                    <div class="mws-form-item">
                        <input type="text" class="small" name='name' value="{$infos['name']}">
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">实际库存数量</label>
                    <div class="mws-form-item">
                        <input type="text" class="small" name='real_amount'value="{$infos['real_amount']}">
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">虚拟库存数量</label>
                    <div class="mws-form-item">
                        <input type="text" class="small" name="sup_amount" value="{$infos['sup_amount']}">
                    </div>
                </div>
        </div>
            <div class="mws-button-row">
                 <input type="hidden" name="goods_id" value="{$infos['goods_id']}">
                <input type="submit" class="btn btn-danger" value="点击调节">
                
                <input type="reset" class="btn " value="重置">
            </div>
        </div>
        </form>
    </div>      
</div>
</block>