<!-- 模板替换 -->
<extend name="User:add"/>
<!-- 替换模板标题 -->
<block name="title">
    <title>订单添加_库存调节</title>
</block>
<!-- 替换模板内容表单 -->
<block name="con">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/date/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/date/My97DatePicker/WdatePicker.js"></script>
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span>订单添加</span>
        </div>
        <div class="mws-panel-body no-padding">
            <form action="{:U('Order/insert')}" class="mws-form" method="post" enctype="multipart/form-data">
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        <label class="mws-form-label">随机生成订单号</label>

                        <div class="mws-form-item">
                            <!-- <span>※</span> -->
                            <input type="text" class="small" name='order_num'
                                   onfocus="if(value ==''){value='{$order_num}'}" readonly>
                            <span>☆温馨提示:光标点击输入框随机生成订单号</span>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">商品名称</label>

                        <div class="mws-form-item" style="width:600px;">
                            <select class="large" name='goods_id'>
                                <option value="0">请选择</option>
                                <foreach name="Info" item="vo">
                                    <option value="{$vo.id}">{$vo.id}{$vo.name}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">预定数量</label>

                        <div class="mws-form-item">
                            <!-- <span>※</span> -->
                            <input type="text" class="small" name='order_amount'>
                        </div>
                    </div>
                    <script type="text/javascript" src="__PUBLIC__/js/libs/jquery-1.8.3.js"></script>
                    <script type="text/javascript">

                        //获取节点
                        $('select').change(function () {
                            var v = $(this).val();

                            $.get("{:U('Order/add')}", {id: v}, function (msg) {
                                // console.log(msg);
                                $('input[name=unit_price]').val(msg['price']);
                                $('input[name=store_amount]').val(msg['amount']);
                            });
                        });
                    </script>
                    <div class="mws-form-row">
                        <label class="mws-form-label">单价</label>

                        <div class="mws-form-item">
                            <!-- <span>※</span> -->
                            <input type="text" class="small" name='unit_price' readonly>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">实际库存数量</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='store_amount' readonly>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">虚拟库存数量</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='sup_amount'>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">订单人名称</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='user_id' value="" readonly>
                        </div>
                    </div>
                    <!-- 收货信息,配送信息 -->
                    <div class="mws-form-row">
                        <label class="mws-form-label">配送信息</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='deliveryinfo' value="快递配送（配送费:￥0.00" readonly>
                        </div>
                    </div>
                    <!--                 <div class="mws-form-row">
                                        <label class="mws-form-label">收货人</label>
                                        <div class="mws-form-item">
                                            <input type="text" class="small" name='deliveryinfo_id'>
                                        </div>
                                    </div> -->
                    <div class="mws-form-row">
                        <label class="mws-form-label">收货人</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='deliveryinfo_id' value="" readonly="">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">固定电话</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='deliveryinfo_id' value="" readonly="">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">移动电话</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='deliveryinfo_id' value="" readonly="">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">邮政编码</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='deliveryinfo_id' value="" readonly="">
                        </div>
                    </div>
                    <!-- 支付方式 -->
                    <div class="mws-form-row">
                        <label class="mws-form-label">支付类型</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='deliveryinfo_id' value="" readonly="">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">发票类型</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='receipt_type' value="" readonly="">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">订单状态</label>

                        <div class="mws-form-item" style="width:600px;">
                            <select class="large" name='order_status'>
                                <option value="0">请选择</option>
                                <option value="1">提交订单</option>
                                <option value="2">付款成功</option>
                                <option value="3">商品生产</option>
                                <option value="4">商品配货</option>
                                <option value="5">商品出库</option>
                                <option value="6">等待收货</option>
                                <option value="7">完成</option>
                            </select>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">快递单号</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='express_list_num' readonly>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">优惠类型</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='express_list_num' readonly>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">优惠信息</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='express_list_num' readonly>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">处理人</label>

                        <div class="mws-form-item">
                            <input type="text" class="small" name='manager' readonly>
                        </div>
                    </div>
                </div>
                <div class="mws-button-row">
                    <input type="submit" class="btn btn-danger" value="点击添加">
                    <input type="reset" class="btn " value="重置">
                </div>
        </div>
        </form>
    </div>
    </div>
</block>